<template>
	<div class="FlashMessagesWrapper">
		<ul class="FlashMessages">
			<li v-for="message in messages" :class="['Message', message.type]" class="Message">{{ message.msg }}</li>
		</ul>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {Message} from '@/services/FlashMessageService';
import {state} from '@/main';

@Component
export default class FlashMessages extends Vue {

	messages: Message[] = [];

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.$nextTick(() => {
			this.messages = state.message.getMessages();
		});
	}
}
</script>