<template>
	<span>{{ formattedDate }}</span>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class FormatDate extends Vue {

	@Prop()
	timestamp!: number;

	get formattedDate() {
		let date = new Date(this.timestamp * 1000);
		return date.toLocaleDateString(
			'de-de',
			{
				year: 'numeric',
				month: '2-digit',
				day: '2-digit'
			}
		);
	}
}
</script>