<template>
	<span>{{ formattedDate }}</span>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class FormatFileSize extends Vue {

	@Prop()
	bytes!: number;

	get formattedDate() {
		let i: number = this.bytes == 0 ? 0 : Math.floor(Math.log(this.bytes) / Math.log(1024));
		return (((this.bytes / Math.pow(1024, i)).toFixed(2)) + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i]).replace('.', ',');
	}

}
</script>