<template>
	<div :class="['Message', type, small ? 'MessageSmall' : '']">
		<slot/>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class Message extends Vue {

	@Prop()
	type!: string;

	@Prop()
	small!: boolean;
}
</script>