<template>
	<div v-if="!preserveRatio" :class="{'PictureBox': true, 'PictureBoxSmall': small, 'PictureBoxFlex': flex}" :style="style" @click="$emit('click')"></div>
	<img v-else :src="picture" class="Shadow" @click="$emit('click')"/>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class PictureBox extends Vue {

	@Prop()
	picture!: string;

	@Prop()
	small!: boolean;

	@Prop()
	flex!: boolean;

	@Prop()
	preserveRatio!: boolean;

	get style() {
		return {
			backgroundImage: `url(${this.picture})`
		};
	}
}
</script>