<template>
	<span>{{ text }}</span>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Translations from '@/services/Translations';

@Component
export default class Translate extends Vue {

	@Prop()
	s!: string;

	get text() {
		return Translations.get(this.s);
	}
}
</script>