<template>
	<button
		:class="{'Button': true, 'ButtonPrimary': primary, 'ButtonDisabled': disabled}"
		:type="type"
		@click.prevent="$emit('click', $event)">
		<slot/>
	</button>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class ButtonInput extends Vue {

	@Prop()
	primary!: boolean;

	@Prop()
	disabled!: boolean;

	@Prop()
	submit!: boolean;

	get type() {
		return this.submit ? 'submit' : 'button';
	}
}
</script>