<template>
	<div class="FormField Checkbox" v-bind:class="{required:required===true}">
		<input :checked="value" :id="name" type="checkbox" v-bind:required="required" v-on:input="$emit('input', $event.target.checked)" value="1"/>
		<label v-if="label" :class="{required:required===true}" :for="name">{{ label }}</label>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class CheckboxEditorInput extends Vue {
	@Prop()
	name!: string;

	@Prop()
	value!: string;

	@Prop()
	label!: string;

	@Prop()
	required!: boolean;
}
</script>