<template>
	<div class="FormField" v-bind:class="{required:required}">
		<label v-if="label" :class="{'required':required===true}" :for="name">{{ label }}:</label>
		<input :id="name" @change="onChange" ref="inputDate" type="date" v-bind:required="required"/>
		<input :name="name" ref="input" type="hidden" v-bind:value="value"/>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class DateInput extends Vue {
	@Prop()
	name!: string;

	@Prop()
	value!: string;

	@Prop()
	label!: string;

	@Prop()
	required!: boolean;

	onChange() {
		console.log('onChange');
		let inputDate: HTMLInputElement = <HTMLInputElement>this.$refs.inputDate;
		this.$emit('input', Math.round(inputDate.valueAsNumber / 1000));
	}

	mounted() {
		if (this.value) {
			let date = new Date(parseInt(this.value) * 1000);
			let dateString = date.toISOString().substr(0, 10);
			let input: HTMLInputElement = <HTMLInputElement>this.$refs.inputDate;
			input.value = dateString;
		}
	}
}
</script>