<template>
	<div>
		<input type="hidden" v-bind:value="value" v-on:input="$emit('input', $event.target.value)"/>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class HiddenInput extends Vue {
	@Prop()
	name!: string;

	@Prop()
	value!: string;
}
</script>