<template>
	<div class="FormField" v-bind:class="{required:required}">
		<label v-if="label" :class="{'required':required===true}" :for="name">{{ label }}:</label>
		<input :id="name" :name="name" autocomplete="off" type="password" v-bind:required="required" v-bind:value="value" v-on:input="$emit('input', $event.target.value)"/>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class PasswordInput extends Vue {
	@Prop()
	name!: string;

	@Prop()
	value!: string;

	@Prop()
	label!: string;

	@Prop()
	required!: boolean;
}
</script>