<template>
	<div class="FormField Radio" v-bind:class="{required:required}">
		<input :id="id" :name="name" type="radio" v-bind:value="value" v-on:input="$emit('input', v)"/>
		<label v-if="label" :class="{'required':required===true}" :for="id">{{ label }}</label>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class RadioInput extends Vue {

	@Prop()
	name!: string;

	@Prop()
	value!: string;

	@Prop()
	label!: string;

	@Prop()
	required!: boolean;

	@Prop()
	v!: string;

	get id() {
		return this.name + this.v;
	}
}
</script>