<template>
	<div class="ResourceName">{{ path }}<b>{{ label }}</b></div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceService from '@/services/ResourceService';

@Component
export default class ResourceName extends Vue {

	@Prop()
	resource!: Resource;

	@Prop()
	fullPath!: boolean;

	get path() {
		return this.fullPath ? this.resource._parentRelative + (this.resource._parentRelative === '/' ? '' : '/') : '';
	}

	get label() {
		return ResourceService.getExternalPath(this.resource.name);
	}
}
</script>