<template>
	<div :class="{valid:valid,invalid:!valid,required:required}" class="FormField">
		<label v-if="label" :class="{'required':required===true}" :for="name">{{ label }}:</label>
		<div :class="type">

			<picture-box :picture="resource._preview" v-if="type==='Picture'"/>

			<div>
				<input :id="name" :name="name" :placeholder="placeholder" @blur="onBlur()" @click="onClick()" @input="onInput($event.target.value)" type="text" v-bind:required="required" v-bind:value="value" autocomplete="off"/>
				<div class="InlineSearchList">
					<loader :loading="loading"/>
					<ul>
						<li :class="child.type" :key="index" @click="onClickResult(child)" class="InlineSearchListItem" v-for="(child,index) in searchResult.children">
							<div class="Preview">
								<picture-box small="true" :picture="child._preview" v-if="child._preview"/>
							</div>
							<resource-name :resource="child" full-path="true"/>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceFactory from '@/services/ResourceFactory';
import Loader from '@/components/Loader.vue';
import Translations from '@/services/Translations';
import ResourceService from '@/services/ResourceService';
import ResourceName from '@/components/Input/ResourceName.vue';
import Translate from '@/components/helper/Translate.vue';
import {state} from '@/main';
import PictureBox from '@/components/helper/PictureBox.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import Modal from '@/components/dialog/Modal.vue';
import CreateMediaForm from '@/components/dialog/CreateMediaForm.vue';

@Component({
	components: {CreateMediaForm, Modal, ButtonInput, PictureBox, Translate, ResourceName, Loader}
})
export default class SelectResourceInput extends Vue {

	@Prop()
	name!: string;

	@Prop()
	value!: string;

	@Prop()
	label!: string;

	@Prop()
	type!: string;

	@Prop()
	required!: boolean;

	valueTmp: string = '';

	searchResult: Resource = ResourceFactory.createEmptyResource();

	resource: Resource = ResourceFactory.createEmptyResource();

	reloadTimeout!: number;

	loading: boolean = false;

	filter: string = '';

	valid: boolean = true;

	showCreateMedia: boolean = false;

	get placeholder() {
		return Translations.get('select_resource');
	}

	onClick() {
		this.valueTmp = this.value || '';
		this.$emit('input', '');
		this.updateSearchResult();
	}

	onBlur() {
		if (!this.value || this.value.length === 0) this.$emit('input', this.valueTmp);
	}

	onInput(value: string) {
		this.$emit('input', ResourceService.getExternalPath(value));
		this.filter = ResourceService.getExternalPath(value);
		this.updateSearchResult();
	}

	onClickResult(resource: Resource) {
		this.$emit('input', ResourceService.getExternalPath(resource._selfRelative));
		this.filter = '';
		this.searchResult = ResourceFactory.createEmptyResource();
		this.reload(ResourceService.getExternalPath(resource._selfRelative));
	}

	reload(name: string) {
		if (!this.value) return;
		this.loading = true;
		let path: string = this.type === 'Page' ? ResourceService.getInternalPath(state.api.getPath(name)) : state.api.getPath(name);
		state.api.getResource(path).then((data) => {
			this.resource = data;
			this.loading = false;
			this.valid = true;
		}, () => {
			this.loading = false;
			this.valid = false;
		});
	}

	updateSearchResult() {
		//if (this.filter.length === 0) return;
		if (this.reloadTimeout) clearTimeout(this.reloadTimeout);
		this.reloadTimeout = setTimeout(() => {
			this.loading = true;
			state.api.search(this.filter, this.type, 20).then((data) => {
				this.searchResult = data;
				this.loading = false;
			}).finally(() => this.loading = false);
		}, 400);
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.reload(this.value);
	}
}
</script>