<template>
	<div :class="{valid:valid,invalid:!valid,required:required}" class="FormField">

		<modal v-if="showInsertImage" large="large" @cancel="showInsertImage=false">
			<insert-image @cancel="showInsertImage=false" @insert="insertImage"/>
		</modal>

		<label v-if="label" :class="{'required':required===true}" :for="name">{{ label }}:</label>
		<div :class="type">
			<picture-box :picture="resource._preview"/>
			<div class="ButtonGroup">
				<button class="left Button iconFolder" @click.prevent="showInsertImage=true">
					<translate s="select"/>
				</button>
				<button class="left Button iconDelete" @click.prevent="empty()">
					<translate s="remove"/>
				</button>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceFactory from '@/services/ResourceFactory';
import Loader from '@/components/Loader.vue';
import ResourceName from '@/components/Input/ResourceName.vue';
import Translate from '@/components/helper/Translate.vue';
import {state} from '@/main';
import PictureBox from '@/components/helper/PictureBox.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import Modal from '@/components/dialog/Modal.vue';
import CreateMediaForm from '@/components/dialog/CreateMediaForm.vue';
import InsertImage from '@/components/FileSelectDialog/InsertImage.vue';

@Component({
	components: {InsertImage, CreateMediaForm, Modal, ButtonInput, PictureBox, Translate, ResourceName, Loader}
})
export default class SelectResourceChooserInput extends Vue {

	@Prop()
	name!: string;

	@Prop()
	value!: string;

	@Prop()
	label!: string;

	@Prop()
	type!: string;

	@Prop()
	required!: boolean;

	showInsertImage: boolean = false;

	resource: Resource = ResourceFactory.createEmptyResource();

	loading: boolean = false;

	valid: boolean = true;

	empty() {
		this.resource = ResourceFactory.createEmptyResource();
		this.$emit('input', '');
	}

	insertImage(resource: Resource) {
		this.showInsertImage = false;
		this.resource = resource;
		this.$emit('input', resource._selfRelative);
	}

	reload() {
		if (!this.value) return;
		this.loading = true;
		state.api.getResourceByPath(this.value).then((data) => {
			this.resource = data;
			this.loading = false;
			this.valid = true;
		}, () => {
			this.loading = false;
			this.valid = false;
		});
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.reload();
	}
}
</script>