<template>
	<div class="FormField" v-bind:class="{required:required}">

		<modal v-if="fullscreen" fullscreen="fullscreen">
			<div class="Editor">
				<div class="EditorToolbar">
					<div class="ButtonGroup">
						<div :title="translate('format_bold')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconBold IconOnly " @click="insertTag('b')"></div>
						<div :title="translate('format_italic')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconItalic IconOnly " @click="insertTag('i')"></div>
						<div :title="translate('format_underline')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconUnderline IconOnly " @click="insertTag('u')"></div>
						<div :title="translate('format_h2')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconH1 IconOnly " @click="insertTag('h2')"></div>
						<div :title="translate('format_h3')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconH2 IconOnly " @click="insertTag('h3')"></div>
						<div :title="translate('format_horizontal_line')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconHr IconOnly " @click="insertText('[hr]')"></div>
						<div :title="translate('format_center')" class="Button ButtonSmall IconSmall  ButtonTransparent Icon iconCenter IconOnly " @click="insertTag('center')"></div>

						<div :title="translate('format_sub')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconSub IconOnly " @click="insertTag('sub')"></div>
						<div :title="translate('format_sup')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconSup IconOnly " @click="insertTag('sup')"></div>
						<div :title="translate('format_quote')" class="Button ButtonSmall IconSmall ButtonTransparent Icon iconQuote IconOnly " @click="insertTag('quote')"></div>

						<div :title="translate('format_insert_picture')" class="Button ButtonSmall IconSmall Icon  iconPicture " @click="openInsertImage()">
							<translate s="format_insert_picture"/>
						</div>

						<div class="Button ButtonSmall " @click="openInsertLinkForm()">
							<translate s="format_insert_link"/>
						</div>
						<div class="Button ButtonSmall" @click="openInsertGalleryForm()">
							<translate s="format_gallery"/>
						</div>
						<div class="Button ButtonSmall" @click="openInsertVideoForm()">
							<translate s="format_video"/>
						</div>

						<div class="Button ButtonSmall  ButtonPrimary right" @click="fullscreen=false">
							<translate s="editor_close"/>
						</div>
					</div>
					<div class="EditorWordCount">{{ wordCount }}</div>
				</div>
				<div class="TextareaWrapper TextareaWrapperFullHeight">
					<textarea :id="name" ref="input" :name="name" v-bind:required="required" v-bind:value="value" v-on:input="onInput( $event.target.value)">Insert Text</textarea>
				</div>
			</div>
		</modal>

		<modal v-if="showInsertLinkForm" large="large" @cancel="showInsertLinkForm=false">
			<insert-link-form :title="selectedText" @cancel="showInsertLinkForm=false" @insert="insertLink"/>
		</modal>

		<modal v-if="showInsertGalleryForm" @cancel="showInsertGalleryForm=false">
			<insert-gallery-form @cancel="showInsertGalleryForm=false" @insert="insertGallery"/>
		</modal>

		<modal v-if="showInsertVideoForm" @cancel="showInsertVideoForm=false">
			<insert-video-form @cancel="showInsertVideoForm=false" @insert="insertVideo"/>
		</modal>

		<modal v-if="showInsertImage" large="large" @cancel="showInsertImage=false">
			<insert-image multiple="multiple" @cancel="showInsertImage=false" @insert="insertImage"/>
		</modal>

		<label v-if="label" :class="{'required':required===true}" :for="name">{{ label }}:</label>
		<p class="TextSmall ColorSchemeDisabled PaddingMedium BorderBottom" @click="fullscreen=true">{{ preview }}</p>
		<div class="Button iconTextFile" @click="fullscreen=true">
			<translate s="edit"/>
		</div>

	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Modal from '@/components/dialog/Modal.vue';
import Translate from '@/components/helper/Translate.vue';
import Translations from '@/services/Translations';
import RadioInput from '@/components/Input/RadioInput.vue';
import InsertLinkForm from '@/components/dialog/InsertLinkForm.vue';
import InsertGalleryForm from '@/components/dialog/InsertGalleryForm.vue';
import InsertImage from '@/components/FileSelectDialog/InsertImage.vue';
import Resource from '@/models/Resource';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import InsertVideoForm from '@/components/dialog/InsertVideoForm.vue';

@Component({
	components: {InsertVideoForm, ButtonInput, InsertImage, InsertGalleryForm, InsertLinkForm, RadioInput, Translate, Modal}
})
export default class TextareaInput extends Vue {

	type: string = 'Page';

	@Prop()
	name!: string;

	@Prop()
	value!: string;

	@Prop()
	label!: string;

	@Prop()
	required!: boolean;

	showInsertLinkForm: boolean = false;

	showInsertGalleryForm: boolean = false;

	showInsertVideoForm: boolean = false;

	showInsertImage: boolean = false;

	startPos!: number;

	endPos!: number;

	selectedText!: string;

	fullscreen: boolean = false;

	help: boolean = false;

	get wordCount() {
		return (this.value ? this.value.split(/(\s+)/).filter((n: string) => {
			return !n.match(/^\s*$/);
		}).length : 0) + ' ' + Translations.get('words');
	}

	get preview() {
		return this.value.substr(0, 300) + (this.value.length > 300 ? ' ...' : '');
	}

	onInput(value: string) {
		this.$emit('input', value);
	}

	openInsertLinkForm() {
		this.saveState();
		this.showInsertLinkForm = true;
	}

	insertLink(path: string, type: string, title?: string) {
		this.showInsertLinkForm = false;
		switch (type) {
			case 'Page':
				this.insertExtendedTag('url', path.replace('.json', ''), title);
				break;
			case 'Picture':
				this.insertExtendedTag('img', path, title);
				break;
			case 'Media':
				this.insertExtendedTag('media', path, title);
				break;
			case 'External':
				this.insertExtendedTag('url', path, title);
				break;
			case 'Email':
				this.insertExtendedTag('mail', path, title);
				break;
			case 'Phone':
				this.insertExtendedTag('phone', path, title);
				break;
		}
	}

	openInsertGalleryForm() {
		this.saveState();
		this.showInsertGalleryForm = true;
	}

	insertGallery(path: string) {
		this.showInsertGalleryForm = false;
		this.insertText(`[gallery(${path})]`);
	}

	openInsertVideoForm() {
		this.saveState();
		this.showInsertVideoForm = true;
	}

	insertVideo(path: string) {
		this.showInsertGalleryForm = false;
		this.insertText(`[video(${path})]`);
	}

	openInsertImage() {
		this.saveState();
		this.showInsertImage = true;
	}

	insertImage(resources: Resource[]) {
		this.showInsertImage = false;
		resources.forEach((r: Resource) => {
			this.insertExtendedTag('img', r._selfRelative, '');
			this.insertText('\n');
		});
	}

	saveState() {
		let input: HTMLInputElement = <HTMLInputElement>this.$refs.input;
		this.startPos = <number>input.selectionStart;
		this.endPos = <number>input.selectionEnd;
		this.selectedText = input.value.substring(this.startPos, this.endPos);
	}

	insertTag(tag: string, standalone?: boolean) {
		this.saveState();
		let input: HTMLInputElement = <HTMLInputElement>this.$refs.input;
		let text = input.value.substring(this.startPos, this.endPos);
		let stringToInsert = standalone ? `[${tag}]` : `[${tag}]${text}[/${tag}]`;
		let newValue: string = input.value.substring(0, this.startPos) + stringToInsert + input.value.substring(this.endPos, input.value.length);
		input.value = newValue;
		this.onInput(newValue);
		input.selectionStart = this.startPos + stringToInsert.length;
		input.selectionEnd = this.startPos + stringToInsert.length;
		input.focus();
	}

	insertExtendedTag(tag: string, value: string, label?: string) {
		this.saveState();
		let input: HTMLInputElement = <HTMLInputElement>this.$refs.input;
		input.focus();
		let stringToInsert = `[${tag}=${value}]${label ? label : this.selectedText}[/${tag}]`;
		let newValue: string = input.value.substring(0, this.startPos) + stringToInsert + input.value.substring(this.endPos, input.value.length);
		this.onInput(newValue);
		input.value = newValue;
		input.selectionStart = this.startPos + stringToInsert.length;
		input.selectionEnd = this.startPos + stringToInsert.length;
		input.focus();
	}

	insertText(text: string) {
		this.saveState();
		let input: HTMLInputElement = <HTMLInputElement>this.$refs.input;
		let newValue: string = input.value.substring(0, this.startPos) + text + input.value.substring(this.endPos, input.value.length);
		input.value = newValue;
		this.onInput(newValue);
		input.selectionStart = this.startPos + text.length;
		input.selectionEnd = this.startPos + text.length;
		input.focus();
	}


	translate(key: string): string {
		return Translations.get(key);
	}
}
</script>