<template>
	<div>
		<loader :loading="loading"/>
		<template v-if="!loading">
			<page-editor v-if="resource.type==='Page'" :resource="resource"/>
			<picture-editor v-else-if="resource.type==='Picture'" :resource="resource"/>
			<file-editor v-else/>
		</template>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import PictureEditor from '@/components/editor/PictureEditor.vue';
import FileEditor from '@/components/editor/FileEditor.vue';
import {state} from '@/main';
import Loader from '@/components/Loader.vue';
import Resource from '@/models/Resource';
import ResourceFactory from '@/services/ResourceFactory';
import PageEditor from '@/components/editor/PageEditor.vue';

@Component({
	components: {
		PageEditor,
		Editor: PageEditor,
		Loader,
		FileEditor,
		PictureEditor
	}
})
export default class EditorWrapper extends Vue {

	resource: Resource = ResourceFactory.createEmptyResource();

	loading: boolean = true;

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.$nextTick().then(() => {
			this.loading = true;
			let path: string = this.$route.params.pathMatch;
			state.api.getResource(state.api.getPath(path)).then((resource) => {
				this.resource = resource;
			}).finally(() => this.loading = false);
		});
	}
}
</script>