<template>
	<layout-with-navigation :resource="resource">
		<template slot="main">
			<layout-with-toolbar>
				<template slot="toolbar">
					<li class="Button iconBack left" @click.prevent="gotToParent()">
						<translate s="back"/>
					</li>
					<!--
					<li class="Button iconSave" @click.prevent="save()">
						<translate s="save"/>
					</li>
					-->
					<li v-if="resource.type!=='Folder'" class="Button iconCopy" @click.prevent="onClickRename()">
						<translate s="copy"/>
					</li>
					<li class="Button ButtonWarn iconDelete" @click.prevent="onClickDeleteSelf()">
						<translate s="delete"/>
					</li>
				</template>
				<template slot="main">

					<modal v-if="showDelete" @cancel="showDelete=false">
						<delete-dialog @cancel="showDelete=false" @delete="deleteSelf()"/>
					</modal>

					<modal v-if="showRename" large="large" @cancel="showRename=false">
						<copy-dialog :source="resource" @cancel="showRename=false"/>
					</modal>

					<loader :loading="loading"/>

					<section>
						<form v-if="resource.type==='TextFile'" ref="form">
							<simple-textarea-input v-model="resource.data"/>
						</form>
					</section>

					<table class="Table">
						<tr>
							<td>
								<b>
									<translate s="name"/>
								</b>
							</td>
							<td>{{ resource.name }}</td>
						</tr>
						<tr>
							<td>
								<b>
									<translate s="size"/>
								</b>
							</td>
							<td>
								<format-file-size :bytes="resource.size"/>
							</td>
						</tr>
						<tr>
							<td>
								<b>
									<translate s="path"/>
								</b>
							</td>
							<td>{{ resource._selfRelative }}</td>
						</tr>
					</table>
				</template>
			</layout-with-toolbar>
		</template>
	</layout-with-navigation>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceFactory from '@/services/ResourceFactory';
import Modal from '@/components/dialog/Modal.vue';
import Loader from '@/components/Loader.vue';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import Translate from '@/components/helper/Translate.vue';
import Translations from '@/services/Translations';
import TextInput from '@/components/Input/TextInput.vue';
import DeleteDialog from '@/components/dialog/DeleteDialog.vue';
import DateInput from '@/components/Input/DateInput.vue';
import LayoutWithNavigation from '@/components/layouts/LayoutWithNavigation.vue';
import LayoutWithToolbar from '@/components/layouts/LayoutWithToolbar.vue';
import DOMUtility from '@/services/DOMUtility';
import Search from '@/components/Search.vue';
import {state} from '@/main';
import PictureBox from '@/components/helper/PictureBox.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import Widget from '@/components/layouts/Widget.vue';
import Message from '@/components/helper/Message.vue';
import SimpleTextareaInput from '@/components/Input/SimpleTextareaInput.vue';
import CopyDialog from '@/components/dialog/CopyDialog.vue';

@Component({
	components: {
		CopyDialog,
		SimpleTextareaInput,
		Message,
		Widget,
		ButtonInput,
		PictureBox,
		Search,
		LayoutWithToolbar,
		LayoutWithNavigation,
		DateInput,
		DeleteDialog,
		TextInput,
		Translate,
		FormatFileSize,
		Loader,
		Modal
	}
})
export default class FileEditor extends Vue {

	resource: Resource = ResourceFactory.createEmptyResource();

	showDelete: boolean = false;

	showRename: boolean = false;

	loading: boolean = true;

	deleteSelf() {
		state.api.deleteResource(this.resource).then(() => {
			state.message.ok(Translations.get('delete_success'));
			this.gotToParent();
		});
	}

	gotToParent() {
		this.$router.push({name: 'browse', params: {pathMatch: this.resource._parentRelative}});
	}

	save() {
		DOMUtility.resetFocus();
	}

	onClickRename() {
		this.showRename = true;
		DOMUtility.resetFocus();
	}

	onClickDeleteSelf() {
		this.showDelete = true;
		DOMUtility.resetFocus();
	}

	reload() {
		this.loading = true;
		let path: string = this.$route.params.pathMatch;
		state.api.getResource(state.api.getPath(path)).then((resource) => {
			this.resource = resource;
		}).finally(() => this.loading = false);
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.$nextTick().then(this.reload);
	}
}
</script>