<template>
	<layout-with-navigation :resource="resource">
		<template slot="main">
			<layout-with-toolbar>
				<template slot="toolbar">
					<li class="Button Icon iconBack left" @click.prevent="gotToParent()">
						<translate s="back"/>
					</li>
					<li class="Button ButtonPrimary Icon iconSave" @click.prevent="save()">
						<translate s="save"/>
					</li>
					<li class="Button Icon iconCopy" @click.prevent="onClickRename()">
						<translate s="copy"/>
					</li>
					<li v-if="resource.type==='Page'" class="Button Icon iconWindow" @click.prevent="onClickPreview()">
						<translate s="preview"/>
					</li>
					<li v-if="resource.data.hidden" class="Button Icon iconSave" @click.prevent="publishAndSave()">
						<translate s="publish"/>
					</li>
					<li v-if="resource.type==='Page' && !resource.data.hidden && !resource.data.disabled" class="Button Icon iconWindow" @click="preview(publicUrl)">
						<translate s="open_new_window"/>
					</li>
					<li class="Button ButtonWarn Icon iconDelete" @click.prevent="onClickDeleteSelf()">
						<translate s="delete"/>
					</li>
				</template>
				<template slot="main">

					<modal v-if="showDelete" @cancel="showDelete=false">
						<delete-dialog @cancel="showDelete=false" @delete="deleteSelf()"/>
					</modal>

					<modal v-if="showRename" large="large" @cancel="showRename=false">
						<copy-dialog :source="resource" @cancel="showRename=false"/>
					</modal>

					<modal v-if="showPreview" @cancel="showPreview=false" fullscreen="fullscreen">
						<div class="PaddingLarge Grid">
							<iframe style="display: block; width: 100%; height: 85vh;" :srcdoc="srcdoc"></iframe>
							<div class="ButtonGroup">
								<button @click.prevent="showPreview=false" class="Button">
									<translate s="cancel"/>
								</button>
							</div>
						</div>
					</modal>

					<loader :loading="loading"/>

					<breadcrumb :resource="resource"/>


					<!--
					<message v-if="!resource.data.hidden && !resource.data.disabled" type="Success" small="small">Die Seite ist unter {{ resource._public }} erreichbar</message>
					<message v-else type="Warn" small="small">Diese Seite ist noch nicht öffentlich aufrufbar</message>
					-->

					<form ref="form">
						<ul v-if="!loading" class="FormFieldList">
							<li v-for="(field, name) in type.fields" v-bind:key="name">
								<div v-if="field.type==='array'" class="FormField FormFieldArray">
									<label>{{ field.label }}</label>
									<div v-for="(sourceName,index) in resource.data[name]" v-bind:key="index" class="FormFieldArrayContent">
										<checkbox-editor-input v-if="field.editor==='checkbox'" v-model="resource.data[name][index]" :name="name" :required="field.required"/>
										<textarea-input v-else-if="field.editor==='textarea'" v-model="resource.data[name][index]" :name="name" :required="field.required" :resource="resource"/>
										<select-resource-input v-else-if="field.editor==='url'" v-model="resource.data[name][index]" :name="name" :required="field.required" type="Page"/>
										<select-resource-chooser-input v-else-if="field.editor==='image'" v-model="resource.data[name][index]" :name="name" :required="field.required" type="Picture"/>
										<password-input v-else-if="field.editor==='password'" v-model="resource.data[name][index]" :name="name" :required="field.required"/>
										<text-input v-else-if="field.editor==='input'" v-model="resource.data[name][index]" :name="name" :required="field.required"/>
										<date-input v-else-if="field.editor==='date'" v-model="resource.data[name][index]" :label="field.label" :name="name" :required="field.required"/>
										<div class="Button iconUp IconOnly" @click="clickUpArray(name,index)"></div>
										<div class="Button iconDown IconOnly" @click="clickDownArray(name,index)"></div>
										<div class="Button iconDelete IconOnly" @click="clickDeleteArray(name,index)"></div>
									</div>
									<button-input @click="clickAddArray(name)">
										<translate s="add"/>
									</button-input>
								</div>
								<template v-else>
									<checkbox-editor-input v-if="field.editor==='checkbox'" v-model="resource.data[name]" :label="field.label" :name="name" :required="field.required"/>
									<textarea-input v-else-if="field.editor==='textarea'" v-model="resource.data[name]" :label="field.label" :name="name" :required="field.required" :resource="resource"/>
									<select-resource-input v-else-if="field.editor==='folder'" v-model="resource.data[name]" :label="field.label" :name="name" :required="field.required" type="Folder"/>
									<select-resource-input v-else-if="field.editor==='url'" v-model="resource.data[name]" :label="field.label" :name="name" :required="field.required" type="Page"/>
									<select-resource-chooser-input v-else-if="field.editor==='image'" v-model="resource.data[name]" :label="field.label" :name="name" :required="field.required" type="Picture"/>
									<password-input v-else-if="field.editor==='password'" v-model="resource.data[name]" :label="field.label" :name="name" :required="field.required"/>
									<text-input v-else-if="field.editor==='input'" v-model="resource.data[name]" :label="field.label" :name="name" :required="field.required"/>
									<date-input v-else-if="field.editor==='date'" v-model="resource.data[name]" :label="field.label" :name="name" :required="field.required"/>
								</template>
							</li>
						</ul>
					</form>

				</template>
			</layout-with-toolbar>
		</template>
	</layout-with-navigation>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceFactory from '@/services/ResourceFactory';
import CheckboxEditorInput from '@/components/Input/CheckboxEditorInput.vue';
import Breadcrumb from '@/components/Breadcrumb.vue';
import Modal from '@/components/dialog/Modal.vue';
import Type from '@/models/Type';
import Loader from '@/components/Loader.vue';
import TextareaInput from '@/components/Input/TextareaInput.vue';
import HiddenInput from '@/components/Input/HiddenInput.vue';
import PasswordInput from '@/components/Input/PasswordInput.vue';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import SelectResourceInput from '@/components/Input/SelectResourceInput.vue';
import Translate from '@/components/helper/Translate.vue';
import Translations from '@/services/Translations';
import TextInput from '@/components/Input/TextInput.vue';
import DeleteDialog from '@/components/dialog/DeleteDialog.vue';
import DateInput from '@/components/Input/DateInput.vue';
import LayoutWithNavigation from '@/components/layouts/LayoutWithNavigation.vue';
import LayoutWithToolbar from '@/components/layouts/LayoutWithToolbar.vue';
import DOMUtility from '@/services/DOMUtility';
import Search from '@/components/Search.vue';
import TypeField from '@/models/TypeField';
import {state} from '@/main';
import PictureBox from '@/components/helper/PictureBox.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import Widget from '@/components/layouts/Widget.vue';
import Message from '@/components/helper/Message.vue';
import SimpleTextareaInput from '@/components/Input/SimpleTextareaInput.vue';
import CopyDialog from '@/components/dialog/CopyDialog.vue';
import SelectResourceChooserInput from '@/components/Input/SelectResourceChooserInput.vue';

@Component({
	components: {
		SelectResourceChooserInput,
		CopyDialog,
		SimpleTextareaInput,
		Message,
		Widget,
		ButtonInput,
		PictureBox,
		Search,
		LayoutWithToolbar,
		LayoutWithNavigation,
		DateInput,
		DeleteDialog,
		TextInput,
		Translate,
		SelectResourceInput,
		FormatFileSize,
		PasswordInput, HiddenInput, TextareaInput, Loader, Modal, Breadcrumb, CheckboxEditorInput
	}
})
export default class PageEditor extends Vue {

	resource: Resource = ResourceFactory.createEmptyResource();

	showDelete: boolean = false;

	showRename: boolean = false;

	showPreview: boolean = false;

	type!: Type | null;

	loading: boolean = true;

	srcdoc: string = '';

	@Watch('resource')
	onPropertyChanged(value: string, oldValue: string) {

		console.log('Change');

		state.api.preview(this.resource).then((data) => {
			this.srcdoc = data;
		});
	}

	get publicUrl() {
		return state.api.getPublicPath(this.resource);
	}

	deleteSelf() {
		state.api.deleteResource(this.resource).then(() => {
			state.message.ok(Translations.get('delete_success'));
			this.gotToParent();
		});
	}

	gotToParent() {
		this.$router.push({name: 'browse', params: {pathMatch: this.resource._parentRelative}});
	}

	validate() {
		let form: HTMLFormElement = <HTMLFormElement>this.$refs.form;

		// Validate
		if (!form.reportValidity()) {
			state.message.error(Translations.get('invalid_form'));
			return false;
		}

		return true;
	}

	publishAndSave() {
		if (!this.validate()) return;
		this.resource.data.hidden = false;
		this.save();
	}

	preview(url: string): void {
		window.open(url);
	}

	save() {
		if (!this.validate()) return;
		this.loading = true;
		state.api.save(this.resource).then(() => {
			this.loading = false;
			state.message.ok(Translations.get('saved'));
		});
		DOMUtility.resetFocus();
	}

	onClickRename() {
		this.showRename = true;
		DOMUtility.resetFocus();
	}

	onClickDeleteSelf() {
		this.showDelete = true;
		DOMUtility.resetFocus();
	}

	onClickPreview() {
		this.showPreview = true;
		state.api.preview(this.resource).then((data) => {
			this.srcdoc = data;
		});
	}

	clickAddArray(name: string) {
		let items: string[] = this.resource.data[name];
		items.push('');
	}

	clickDeleteArray(name: string, index: number) {
		let items: string[] = this.resource.data[name];
		items.splice(index, 1);
	}

	clickUpArray(name: string, index: number) {
		this.moveItemInArray(name, index, -1);
	}

	clickDownArray(name: string, index: number) {
		this.moveItemInArray(name, index, 1);
	}

	isVisible(field: TypeField): boolean {
		return field.editor === 'checkbox' ||
			field.editor === 'textarea' ||
			field.editor === 'folder' ||
			field.editor === 'url' ||
			field.editor === 'image' ||
			field.editor === 'password' ||
			field.editor === 'input' ||
			field.editor === 'date';
	}

	reload() {
		console.log('Editor.reload()');
		this.loading = true;
		let path: string = this.$route.params.pathMatch;
		state.api.getResource(state.api.getPath(path)).then((data) => {
			this.resource = data;
			this.type = this.resource.type === 'Page' ? state.api.getType(this.resource) : null;
		}).finally(() => this.loading = false);
	}

	moveItemInArray(name: string, index: number, offset: number) {
		let items: string[] = this.resource.data[name];
		let newIndex = index + offset;
		if (!items[newIndex]) return;
		let itemToMove = items[index];
		items[index] = items[newIndex];
		items[newIndex] = itemToMove;
		this.$forceUpdate();
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.$nextTick().then(this.reload);
	}
}
</script>