<template>
	<layout-with-navigation :resource="resource">
		<template slot="main">
			<layout-with-toolbar>
				<template slot="toolbar">
					<li class="Button Icon iconBack left" @click.prevent="gotToParent()">
						<translate s="back"/>
					</li>
					<li class="Button ButtonPrimary Icon iconSave" @click.prevent="save()">
						<translate s="save"/>
					</li>

					<li class="Button Icon iconCopy" @click.prevent="onClickRename()">
						<translate s="copy"/>
					</li>

					<a :href="resource._public" class="Button Icon iconWindow" target="_blank">
						<translate s="open_new_window"/>
					</a>

					<li class="Button ButtonWarn Icon iconDelete" @click.prevent="onClickDeleteSelf()">
						<translate s="delete"/>
					</li>
				</template>
				<template slot="main">

					<modal v-if="showDelete" @cancel="showDelete=false">
						<delete-dialog @cancel="showDelete=false" @delete="deleteSelf()"/>
					</modal>

					<modal v-if="showRename" large="large" @cancel="showRename=false">
						<copy-dialog :source="resource" targetEditor="media" @cancel="showRename=false"/>
					</modal>

					<loader :loading="loading"/>

					<breadcrumb :resource="resource"/>

					<div class="FileDetails">


						<div>
							<form ref="form">
								<ul class="FormFieldList">
									<li>
										<text-input v-model="meta.alt" label="Alternativtext"/>
									</li>
									<li>
										<text-input v-model="meta.title" label="Titel"/>
									</li>
									<li>
										<simple-textarea-input v-model="meta.description" label="Beschreibung"/>
									</li>
								</ul>
							</form>
						</div>

						<div>
							<section>
								<picture-box :picture="resource._preview" preserveRatio="true"/>
							</section>
							<table class="Table DenseTable">
								<tr>
									<td>
										<b>
											<translate s="name"/>
										</b>
									</td>
									<td>{{ resource.name }}</td>
								</tr>
								<tr>
									<td>
										<b>
											<translate s="dimensions"/>
										</b>
									</td>
									<td>{{ resource.dimensions.width }} x {{ resource.dimensions.height }}</td>
								</tr>
								<tr>
									<td>
										<b>
											<translate s="size"/>
										</b>
									</td>
									<td>
										<format-file-size :bytes="resource.size"/>
									</td>
								</tr>
								<tr>
									<td>
										<b>
											<translate s="path"/>
										</b>
									</td>
									<td>{{ resource._selfRelative }}</td>
								</tr>
							</table>
						</div>


					</div>
				</template>
			</layout-with-toolbar>
		</template>
	</layout-with-navigation>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import Modal from '@/components/dialog/Modal.vue';
import Loader from '@/components/Loader.vue';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import Translate from '@/components/helper/Translate.vue';
import Translations from '@/services/Translations';
import TextInput from '@/components/Input/TextInput.vue';
import DeleteDialog from '@/components/dialog/DeleteDialog.vue';
import DateInput from '@/components/Input/DateInput.vue';
import LayoutWithNavigation from '@/components/layouts/LayoutWithNavigation.vue';
import LayoutWithToolbar from '@/components/layouts/LayoutWithToolbar.vue';
import DOMUtility from '@/services/DOMUtility';
import Search from '@/components/Search.vue';
import {state} from '@/main';
import PictureBox from '@/components/helper/PictureBox.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import Widget from '@/components/layouts/Widget.vue';
import Message from '@/components/helper/Message.vue';
import CopyDialog from '@/components/dialog/CopyDialog.vue';
import FileMetaData from '@/models/FileMetaData';
import SimpleTextareaInput from '@/components/Input/SimpleTextareaInput.vue';
import Breadcrumb from '@/components/Breadcrumb.vue';

@Component({
	components: {
		Breadcrumb,
		SimpleTextareaInput,
		CopyDialog,
		Message,
		Widget,
		ButtonInput,
		PictureBox,
		Search,
		LayoutWithToolbar,
		LayoutWithNavigation,
		DateInput,
		DeleteDialog,
		TextInput,
		Translate,
		FormatFileSize
		, Loader,
		Modal
	}
})
export default class PictureEditor extends Vue {

	@Prop()
	resource!: Resource;

	loading: boolean = true;

	meta: FileMetaData = {alt: '', description: '', title: ''};

	showDelete: boolean = false;

	showRename: boolean = false;

	deleteSelf() {
		state.api.deleteResource(this.resource).then(() => {
			state.message.ok(Translations.get('delete_success'));
			this.gotToParent();
		});
	}

	gotToParent() {
		this.$router.push({name: 'browse', params: {pathMatch: this.resource._parentRelative}});
	}

	save() {
		this.loading = true;
		state.api.saveFileMetaData(this.resource, this.meta).then(() => {
			this.loading = false;
			state.message.ok(Translations.get('saved'));
		});
		DOMUtility.resetFocus();
	}

	onClickRename() {
		this.showRename = true;
		DOMUtility.resetFocus();
	}

	onClickDeleteSelf() {
		this.showDelete = true;
		DOMUtility.resetFocus();
	}

	reload() {
		this.loading = true;
		state.api.getFileMetaData(this.resource).then((meta) => {
			this.meta = meta;
		}).finally(() => this.loading = false);
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.$nextTick().then(this.reload);
	}
}
</script>