<template>
	<layout-with-navigation>
		<template slot="main">
			<layout-with-toolbar>
				<template slot="toolbar">
					<li class="Button ButtonPrimary iconBackupWhite" @click.prevent="create()">
						<translate s="create_backup"/>
					</li>
				</template>
				<template slot="main">

					<modal @cancel="showDelete=false" v-if="showDelete">
						<delete-dialog @cancel="showDelete=false" @delete="deleteBackup()"/>
					</modal>


					<loader :loading="loading"/>
					<template v-if="!loading">

						<message type="Info">
							Du findest alle Sicherungen im Verzeichnis
							<em>/backup</em>. Die Erstellung einer Sicherung kann mehrere Minuten dauern.
						</message>

						<table v-if="data" class="Table">
							<tr v-for="entry in data">
								<td>{{ entry.name }}</td>
								<td>
									<format-date :timestamp="entry.created"/>
								</td>
								<td>
									<format-file-size :bytes="entry.size"/>
								</td>
								<td>
									<div class="ButtonGroup">
										<button-input class="Button IconOnly iconSave" @click="download(entry.name)"></button-input>
										<button-input class="Button IconOnly iconDelete" @click="confirmDelete(entry.name)"></button-input>
									</div>
								</td>
							</tr>
						</table>

						<message v-else type="Warn">
							<translate s="empty_folder"/>
						</message>

					</template>

				</template>
			</layout-with-toolbar>
		</template>
	</layout-with-navigation>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import LayoutWithNavigation from '@/components/layouts/LayoutWithNavigation.vue';
import LayoutWithToolbar from '@/components/layouts/LayoutWithToolbar.vue';
import {state} from '@/main';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import FormatDate from '@/components/helper/FormatDate.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import Modal from '@/components/dialog/Modal.vue';
import DeleteDialog from '@/components/dialog/DeleteDialog.vue';
import Message from '@/components/helper/Message.vue';
import Widget from '@/components/layouts/Widget.vue';

@Component({
	components: {
		Widget,
		Message,
		DeleteDialog,
		Modal,
		ButtonInput,
		FormatDate,
		FormatFileSize,
		LayoutWithToolbar,
		LayoutWithNavigation,
		Translate,
		Loader
	}
})
export default class Backup extends Vue {

	loading: boolean = true;

	data!: any;

	showDelete: boolean = false;

	toDelete: string = '';

	create() {
		this.loading = true;
		state.api.createBackup().then((data) => {
			state.message.ok('Eine neue Sicherung wurde erstellt');
		}).finally(() => {
			this.loading = false;
			this.update();
		});
	}

	confirmDelete(name: string) {
		this.toDelete = name;
		this.showDelete = true;
	}

	download(name: string) {
		this.loading = true;
		state.api.getBackup(name).then((data) => {
			window.open(data);
		}).finally(() => {
			this.loading = false;
		});
	}

	deleteBackup() {
		this.showDelete = false;
		this.loading = true;
		state.api.deleteBackup(this.toDelete).finally(() => {
			this.loading = false;
			this.toDelete = '';
			state.message.ok('Die Sicherung wurde gelöscht');
			this.update();
		});
	}

	update() {
		this.loading = true;
		state.api.getBackups().then((data) => {
			this.data = data;
		}).finally(() => {
			this.loading = false;
		});
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.$nextTick().then(this.update);
	}
}
</script>