<template>
	<layout-with-navigation :resource="resource">
		<template slot="main">
			<layout-with-toolbar>
				<template slot="toolbar">
					<router-link v-if="resource._parentRelative" :to="{ name:'browse', params: { pathMatch: resource._parentRelative }}" active-class="a" class="Button iconBack left" tag="li">
						<translate s="back"/>
					</router-link>
					<li class="Button iconPage" @click="onClickCreatePage()">
						<translate s="new_page"/>
					</li>
					<li class="Button iconFolder" @click="onClickCreateFolder()">
						<translate s="new_folder"/>
					</li>

					<li class="Button iconUpload" @click="onClickCreateMedia()">
						<translate s="new_media"/>
					</li>

					<li class="Button ButtonWarn iconDelete " @click="onClickDeleteSelf()">
						<translate s="delete"/>
					</li>
					<!--
					<search :resource="resource"/>
					-->
				</template>
				<template slot="main">

					<modal @cancel="showDelete=false" v-if="showDelete">
						<delete-dialog @cancel="showDelete=false" @delete="deleteSelf()"/>
					</modal>

					<modal @cancel="showCreateFolder=false" v-if="showCreateFolder">
						<create-folder-form :parent="resource" @cancel="showCreateFolder=false" @created="onFolderCreated"/>
					</modal>

					<modal @cancel="showCreateMedia=false" v-if="showCreateMedia" large="large">
						<create-media-form :parent="resource" @cancel="showCreateMedia=false" @created="onMediaCreated"/>
					</modal>

					<modal @cancel="showCreatePage=false" v-if="showCreatePage">
						<create-page-form :parent="resource" @cancel="showCreatePage=false" @created="onPageCreated"/>
					</modal>


					<loader :loading="loading"/>

					<template v-if="!loading">

						<breadcrumb :resource="resource"/>


						<form ref="form" class="BorderBottom">
							<fieldset class="FormFieldInline">
								<radio-input v-model="listViewConfig.sortByField" label="Name" name="type" v="name"/>
								<radio-input v-model="listViewConfig.sortByField" label="Datum" name="type" v="changed"/>
								<checkbox-editor-input v-model="listViewConfig.ascending" label="Aufsteigend" name="content"/>
								<checkbox-editor-input v-model="listViewConfig.grid" label="Raster" name="view"/>
							</fieldset>
						</form>

						<resource-grid v-if="listViewConfig.grid" :list-view-config="listViewConfig" :resource="resource" @delete="onClickDelete"/>
						<resource-list v-else :list-view-config="listViewConfig" :resource="resource" @delete="onClickDelete"/>

					</template>

				</template>
			</layout-with-toolbar>


		</template>
	</layout-with-navigation>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceFactory from '@/services/ResourceFactory';
import Modal from '@/components/dialog/Modal.vue';
import CreateFolderForm from '@/components/dialog/CreateFolderForm.vue';
import CreateMediaForm from '@/components/dialog/CreateMediaForm.vue';
import ResourceListItem from '@/components/ResourceListItem.vue';
import Loader from '@/components/Loader.vue';
import ResourceList from '../ResourceList.vue';
import CreatePageForm from '@/components/dialog/CreatePageForm.vue';
import Breadcrumb from '@/components/Breadcrumb.vue';
import Translate from '@/components/helper/Translate.vue';
import Search from '@/components/Search.vue';
import DOMUtility from '@/services/DOMUtility';
import DeleteDialog from '@/components/dialog/DeleteDialog.vue';
import LayoutWithToolbar from '@/components/layouts/LayoutWithToolbar.vue';
import LayoutWithNavigation from '@/components/layouts/LayoutWithNavigation.vue';
import {state} from '@/main';
import ResourceGrid from '@/components/ResourceGrid.vue';
import ListViewConfig from '@/models/ListViewConfig';
import RadioInput from '@/components/Input/RadioInput.vue';
import CheckboxEditorInput from '@/components/Input/CheckboxEditorInput.vue';
import Widget from '@/components/layouts/Widget.vue';
import Translations from '@/services/Translations';

@Component({
	components: {
		Widget,
		CheckboxEditorInput,
		RadioInput,
		ResourceGrid,
		LayoutWithNavigation,
		LayoutWithToolbar,
		DeleteDialog,
		Search,
		Translate,
		Breadcrumb,
		CreatePageForm,
		ResourceList,
		Loader,
		ResourceListItem,
		CreateMediaForm,
		CreateFolderForm,
		Modal
	}
})
export default class Browser extends Vue {

	loading: boolean = true;

	showDelete: boolean = false;

	showCreateFolder: boolean = false;

	showCreateMedia: boolean = false;

	showCreatePage: boolean = false;

	resource: Resource = ResourceFactory.createEmptyResource();

	selectedResource!: Resource | null;

	filter: string = '';

	reloadTimeout!: number;

	listViewConfig: ListViewConfig = new ListViewConfig();

	onClickCreateFolder() {
		this.showCreateFolder = true;
		DOMUtility.resetFocus();
	}

	onClickCreatePage() {
		this.showCreatePage = true;
		DOMUtility.resetFocus();
	}

	onClickCreateMedia() {
		this.showCreateMedia = true;
	}

	onClickDeleteSelf() {
		this.showDelete = true;
		this.selectedResource = this.resource;
		DOMUtility.resetFocus();
	}

	onClickDelete(child: Resource) {
		this.showDelete = true;
		this.selectedResource = child;
		DOMUtility.resetFocus();
	}

	deleteSelf() {
		if (this.selectedResource) {
			this.loading = true;
			state.api.deleteResource(this.selectedResource).finally(() => {
				state.message.ok(Translations.get('delete_success'));
				this.showDelete = false;
				this.selectedResource = null;
				this.reload();
			});
		}
	}

	onFolderCreated(resource: Resource): void {
		this.$router.push({name: 'browse', params: {pathMatch: resource._selfRelative}});
	}

	onPageCreated(resource: Resource): void {
		this.$router.push({name: 'edit', params: {pathMatch: resource._selfRelative}});
	}

	onMediaCreated() {
		this.showCreateMedia = false;
		this.reload();
	}

	reload() {
		if (this.reloadTimeout) clearTimeout(this.reloadTimeout);
		this.reloadTimeout = setTimeout(() => {
			this.loading = true;
			let path: string = this.$route.params.pathMatch;
			if (this.filter.length > 0) {
				path += '?query=' + encodeURI(this.filter);
			}
			state.api.getResource(state.api.getPath(path)).then((data) => {
				this.resource = data;
				this.loading = false;
			}).finally(() => this.loading = false);
		}, 400);
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.$nextTick().then(this.reload);
	}
}
</script>