<template>
	<layout-with-navigation>
		<template slot="main">
			<div class="PaddingLarge">
				<section>
					<h2 class="Headline Center">
						<!--
						<router-link :style="style" :to="{ name: 'edit', params: { pathMatch: user._selfRelative }}" class="Avatar Shadow"></router-link>
						-->
						<p>
							{{ message }}
						</p>
					</h2>
				</section>
				<section>
					<search show-filter="true"/>
				</section>
				<section>
					<div class="Dashboard">
						<access-widget/>
						<div class="Grid">
							<status-widget/>
							<cache-widget/>
						</div>
					</div>
				</section>
			</div>
		</template>
	</layout-with-navigation>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import StatusWidget from '@/components/widget/StatusWidget.vue';
import HistoryWidget from '@/components/widget/HistoryWidget.vue';
import LayoutWithNavigation from '@/components/layouts/LayoutWithNavigation.vue';
import Search from '@/components/Search.vue';
import TrackingWidget from '@/components/widget/TrackingWidget.vue';
import Resource from '@/models/Resource';
import AccessWidget from '@/components/widget/AccessWidget.vue';
import {state} from '@/main';
import CacheWidget from '@/components/widget/CacheWidget.vue';

@Component({
	components: {
		CacheWidget,
		AccessWidget,
		TrackingWidget,
		Search,
		LayoutWithNavigation,
		HistoryWidget,
		StatusWidget
	}
})
export default class Dashboard extends Vue {


	message: string = '';

	avatar: string = '';

	user!: Resource;

	private get style(): object {
		if (!this.avatar) return {};
		return {
			backgroundImage: `url(${this.avatar})`
		};
	}

	mounted() {

		this.user = state.api.getCurrentUser();
		console.log(this.user);
		if (this.user) {
			let now = new Date();
			let name = this.user.data.displayName ? this.user.data.displayName : '';
			if (now.getHours() > 20) {
				this.message = 'Guten Abend ' + name;
			} else if (now.getHours() > 12) {
				this.message = 'Hallo ' + name;
			} else {
				this.message = 'Guten Morgen ' + name;
			}
		}
		state.api.getResourceByPath(this.user.data.avatar).then((resource: Resource) => {
			this.avatar = resource._preview;
		});
	}
}
</script>