<template>
	<modal>
		<form class="PaddingLarge">
			<loader :loading="loading"/>
			<div class="Logo"></div>
			<ul class="FormFieldList">
				<li>
					<div class="FormField">
						<label for="user">
							<translate s="username"/>
							:</label>
						<input autocomplete="username" id="user" required type="text" v-model="user"/>
					</div>
				</li>
				<li>
					<div class="FormField">
						<label for="password">
							<translate s="password"/>
							:</label>
						<input autocomplete="current-password" id="password" required type="password" v-model="password"/>
					</div>
				</li>
				<li>
					<div class="ButtonGroup">
						<button-input @click="login()" primary="true">
							<translate s="login"/>
						</button-input>
					</div>
				</li>
			</ul>
		</form>
	</modal>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translations from '@/services/Translations';
import Translate from '@/components/helper/Translate.vue';
import Modal from '@/components/dialog/Modal.vue';
import TextInput from '@/components/Input/TextInput.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import {state} from '@/main';

@Component({
	components: {ButtonInput, TextInput, Modal, Translate, Loader}
})
export default class Login extends Vue {

	loading: boolean = false;

	user: string = '';

	password: string = '';

	login() {
		this.loading = true;
		state.api.login(this.user, this.password).then(() => {
			state.message.ok(Translations.get('login_success'));
			state.api.loadTypes().then(() => {
				this.$router.push({name: 'dashboard', params: {pathMatch: '/'}});
			});
		}, () => {
			state.message.error(Translations.get('login_error'));
		}).finally(() => {
			this.loading = false;
		});
	}
}
</script>