<template>
	<layout-with-navigation>
		<template slot="main">
			<layout-with-toolbar>
				<template slot="toolbar">
					<li class="Button iconUpdate" @click="update()">
						<translate s="refresh"/>
					</li>
				</template>
				<template slot="main">

					<loader :loading="loading"/>

					<div v-if="!loading">

						<div class="BorderBottom">
							<form>
								<fieldset class="FormFieldInline right">
									<checkbox-editor-input v-model="onlyErrors" label="Nur Fehler anzeigen" name="view"/>
								</fieldset>
								<div style="clear: both;"></div>
							</form>
						</div>

						<accordion v-for="entry in data.requests">
							<template v-slot:head>
								<div :class="{'LogEntry':true, 'hasError':entry.error}">
									<div>{{ entry.time }}</div>
									<div>{{ entry.path.substr(0, 100) }}</div>
								</div>
							</template>
							<template v-slot:body>
								<div class="PaddingMedium ColorSchemeAlternate BoxStyle">
									<table class="Table DenseTable">
										<tr>
											<td>Protokoll</td>
											<td>{{ entry.protocol }}</td>
										</tr>
										<tr>
											<td>Pfad</td>
											<td>{{ entry.path }}</td>
										</tr>
										<tr>
											<td>Software</td>
											<td>{{ entry.userAgent }}</td>
										</tr>
										<tr>
											<td>Quelle</td>
											<td>{{ entry.referer }}</td>
										</tr>
										<tr>
											<td>Do Not Track</td>
											<td>{{ entry.dnt }}</td>
										</tr>
										<tr>
											<td>Zeit</td>
											<td>{{ entry.time }}</td>
										</tr>
										<tr>
											<td>Status</td>
											<td>{{ entry.status }}</td>
										</tr>
										<tr>
											<td>Sprache</td>
											<td>{{ entry.acceptLanguage }}</td>
										</tr>
										<tr>
											<td>Datentyp</td>
											<td>{{ entry.accept }}</td>
										</tr>
										<tr>
											<td>Kodierung</td>
											<td>{{ entry.acceptEncoding }}</td>
										</tr>
									</table>
								</div>
							</template>
						</accordion>
					</div>
				</template>
			</layout-with-toolbar>
		</template>
	</layout-with-navigation>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import LayoutWithNavigation from '@/components/layouts/LayoutWithNavigation.vue';
import TrackingData from '@/models/TrackingData';
import LayoutWithToolbar from '@/components/layouts/LayoutWithToolbar.vue';
import {state} from '@/main';
import FormatDate from '@/components/helper/FormatDate.vue';
import Modal from '@/components/dialog/Modal.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import Accordion from '@/components/widget/Accordion.vue';
import DateInput from '@/components/Input/DateInput.vue';
import RadioInput from '@/components/Input/RadioInput.vue';
import CheckboxEditorInput from '@/components/Input/CheckboxEditorInput.vue';


@Component({
	components: {
		CheckboxEditorInput,
		RadioInput,
		DateInput,
		Accordion,
		ButtonInput,
		Modal,
		FormatDate,
		LayoutWithToolbar,
		LayoutWithNavigation,
		Translate,
		Loader
	}
})
export default class Browser extends Vue {

	loading: boolean = true;

	data!: TrackingData;

	endpoint: string = 'stats';

	onlyErrors: boolean = false;

	update() {
		this.loading = true;
		let url = this.endpoint + (this.onlyErrors ? '?onlyErrors' : '');
		state.api.getStats(url).then((data) => {
			this.data = data;
		}).finally(() => {
			this.loading = false;
		});
	}

	@Watch('onlyErrors')
	onPropertyChanged() {
		this.update();
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.$nextTick().then(this.update);
	}
}
</script>