<template>
	<div :style="style" class="FileChooserItemInner" @click="$emit('click')"></div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';

@Component
export default class FileChooserItem extends Vue {

	@Prop()
	resource!: Resource;

	get style() {
		return {
			backgroundImage: `url(${this.resource._preview})`
		};
	}
}
</script>