<template>
	<div class="FileChooser PaddingLarge">

		<modal v-if="showCreateMedia" large="large" @cancel="showCreateMedia=false">
			<create-media-form :parent="resource" @cancel="showCreateMedia=false" @created="reload()"/>
		</modal>

		<loader :loading="loading"/>

		<h1 class="Headline">
			<translate s="select_image"/>
		</h1>

		<section>
			<grid-view>
				<grid-view-item v-if="resource._parent" type="Back" @click="onClickBack()">
					<translate s="back"/>
				</grid-view-item>
				<grid-view-item type="Add" @click="showCreateMedia=true">
					<translate s="new_media"/>
				</grid-view-item>
				<grid-view-item v-for="child in resource.children" v-if="child.type==='Folder' || child.type==='Picture'" :picture="child._preview" :selected="isSelected(child)" :type="child.type" @click="onClickItem(child)">
					{{ child.name }}
				</grid-view-item>
			</grid-view>
		</section>

		<div class="ButtonGroup">
			<button-input v-if="multiple" :disabled="selectedItemsCount===0" primary="primary" @click="emit()">
				Einfügen ({{ selectedItemsCount }} ausgewählt)
			</button-input>
			<button-input v-if="selectedItemsCount>0" @click="reset()">
				Auswahl aufheben
			</button-input>
			<button-input @click="$emit('cancel')">
				<translate s="cancel"/>
			</button-input>

		</div>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {state} from '@/main';
import Resource from '@/models/Resource';
import Loader from '@/components/Loader.vue';
import MediaGridElement from '@/components/FileSelectDialog/MediaGridElement.vue';
import PictureBox from '@/components/helper/PictureBox.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import ResourceName from '@/components/Input/ResourceName.vue';
import FileChooserItem from '@/components/FileSelectDialog/FileChooserItem.vue';
import Translate from '@/components/helper/Translate.vue';
import Modal from '@/components/dialog/Modal.vue';
import CreateMediaForm from '@/components/dialog/CreateMediaForm.vue';
import GridView from '@/components/layouts/GridView.vue';
import GridViewItem from '@/components/layouts/GridViewItem.vue';

@Component({
	components: {
		GridViewItem,
		GridView, CreateMediaForm, Modal, Translate, FileChooserItem, ResourceName, ButtonInput, PictureBox, MediaGridElement, Loader
	}
})
export default class InsertImage extends Vue {

	@Prop()
	multiple!: boolean;

	loading: boolean = true;

	showCreateMedia: boolean = false;

	resource!: Resource;

	selectedItems: any = {};

	selectedItemsCount: number = 0;

	private onClickBack(): void {
		this.openFolder(this.resource._parentRelative);
	}

	private onClickItem(resource: Resource): void {
		if (resource.type === 'Folder') {
			this.openFolder(resource._selfRelative);
		} else {
			this.selectItem(resource);
		}
	}

	emit() {
		if (this.multiple) {
			this.$emit('insert', Object.values(this.selectedItems));
		} else {
			this.$emit('insert', Object.values(this.selectedItems)[0]);
		}
	}

	reset(): void {
		this.selectedItems = {};
		this.selectedItemsCount = 0;
	}

	selectItem(resource: Resource) {

		if (this.selectedItems[resource._selfRelative]) {
			delete this.selectedItems[resource._selfRelative];
		} else {
			this.selectedItems[resource._selfRelative] = resource;
		}
		this.selectedItemsCount = Object.keys(this.selectedItems).length;

		if (!this.multiple) {
			this.emit();
			return;
		}

		this.$forceUpdate();
	}

	isSelected(resource: Resource): boolean {
		return this.selectedItems[resource._selfRelative];
	}

	openFolder(path: string): void {
		this.loading = true;
		state.api.getResourceByPath(path).then((resource: Resource) => {
			this.resource = resource;
		}).finally(() => this.loading = false);
	}

	reload(): void {
		this.loading = true;
		state.api.getResourceByPath(this.resource._selfRelative).then((resource: Resource) => {
			this.resource = resource;
		}).finally(() => this.loading = false);
	}

	mounted() {
		this.openFolder('/');
	}
}
</script>