<template>
	<div :class="{'Accordion':true, 'open':open}" @click="open = !open">
		<div class="AccordionHead">
			<slot name="head"/>
		</div>
		<div class="AccordionBody">
			<slot name="body"/>
		</div>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
	components: {}
})
export default class Accordion extends Vue {

	open: boolean = false;
}
</script>