<template>
	<widget>
		<loader :loading="loading"/>
		<h2>Cache</h2>
		<div class="Text">
			<small>
				<translate s="cache_info"/>
			</small>
			<br/>
			<br/>
			<button-input primary="primary" @click="flush()">
				<translate s="cache_flush"/>
			</button-input>
		</div>
	</widget>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import {state} from '@/main';
import Widget from '@/components/layouts/Widget.vue';
import FormatDate from '@/components/helper/FormatDate.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import Translations from '@/services/Translations';

@Component({
	components: {
		ButtonInput,
		FormatDate,
		Widget,
		FormatFileSize,
		Translate,
		Loader
	}
})
export default class CacheWidget extends Vue {

	loading: boolean = false;

	flush() {
		this.loading = true;
		state.api.flushCache().then(() => {
			state.message.ok(Translations.get('cache_flush_ok'));
		}).finally(() => {
			this.loading = false;
		});
	}
}
</script>