<template>
	<div class="Widget">
		<loader :loading="loading"/>
		<h2>
			<translate s="last_published"/>
		</h2>
		<table class="Table">
			<tr :key="index" v-for="(child,index) in searchResult.children">
				<td>a
					{{ child.data.published }}
				</td>
				<td>
					<router-link :to="{ name: 'edit', params: { pathMatch: child._selfRelative }}" class="Link">
						<resource-name :resource="child"/>
					</router-link>
				</td>
			</tr>
		</table>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import Resource from '@/models/Resource';
import ResourceFactory from '@/services/ResourceFactory';
import ResourceName from '@/components/Input/ResourceName.vue';
import {state} from '@/main';

@Component({
	components: {
		ResourceName,
		FormatFileSize,
		Translate,
		Loader
	}
})
export default class HistoryWidget extends Vue {

	loading: boolean = true;

	searchResult: Resource = ResourceFactory.createEmptyResource();

	update() {
		this.loading = true;
		let path: string = '/?query=&type=Page|Media|Picture&sortBy=published&limit=10';
		state.api.getResource(state.api.getPath(path)).then((data) => {
			this.searchResult = data;
		}).finally(() => {
			this.loading = false;
		});
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.update();
	}
}
</script>