<template>
	<widget>
		<loader :loading="loading"/>
		<h2>Status</h2>
		<div class="Text">
			<p>
				Belegter Speicherplatz: <b>
				<format-file-size :bytes="status.usedSpace"/>
			</b>
			</p>
			<p>
				Dateien: <b>{{ status.resourceCount }}</b>
			</p>
			<p>
				CMS Version: <b>{{ status.version }}</b>
			</p>
			<p>
				PHP Version: <b>{{ status.phpVersion }}</b>
			</p>
		</div>
	</widget>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import SystemStatusData from '@/models/SystemStatusData';
import {state} from '@/main';
import Widget from '@/components/layouts/Widget.vue';
import FormatDate from '@/components/helper/FormatDate.vue';

@Component({
	components: {
		FormatDate,
		Widget,
		FormatFileSize,
		Translate,
		Loader
	}
})
export default class StatusWidget extends Vue {

	loading: boolean = true;

	status: SystemStatusData = {
		phpVersion: '',
		buildDate: 0,
		version: '',
		resourceCount: 0,
		usedSpace: 0
	};

	update() {
		this.loading = true;
		state.api.getStatus().then((data) => {
			this.status = data;
		}).finally(() => {
			this.loading = false;
		});
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.update();
	}
}
</script>