<template>
	<div class="Widget">
		<loader :loading="loading"/>
		<h2>Zugriffe</h2>
		<ul class="List Text" v-if="loading===false">
			<li>Zugriffe Heute: {{ data.todayCount }}</li>
			<li>Zugriffe ingesamt: {{ data.totalCount }}</li>
		</ul>
		<router-link :to="{ name: 'stats'}" class="Button ButtonPrimary ButtonSmall">
			<translate s="view_all"/>
		</router-link>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import TrackingData from '@/models/TrackingData';
import {state} from '@/main';

@Component({
	components: {
		FormatFileSize,
		Translate,
		Loader
	}
})
export default class TrackingWidget extends Vue {

	loading: boolean = true;

	data!: TrackingData;

	update() {
		this.loading = true;
		state.api.getStats('stats').then((data) => {
			this.data = data;
		}).finally(() => {
			this.loading = false;
		});
	}

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		this.update();
	}
}
</script>