<template>
	<div class="GridView">
		<slot/>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
	components: {}
})
export default class GridView extends Vue {

}
</script>