<template>
	<li
		:class="['GridViewItem', 'GridViewItem' + type, selected ? 'GridViewItemSelected' : '']"
		:style="style"
		@click="$emit('click')">
		<div class="GridViewItemInner"></div>
		<div class="GridViewItemLabel">
			<slot/>
		</div>
	</li>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component({
	components: {}
})
export default class GridViewItem extends Vue {

	@Prop()
	type!: string;

	@Prop()
	picture!: string;

	@Prop()
	selected!: boolean;

	private get style(): object {
		if (!this.picture) return {};
		return {
			backgroundImage: `url(${this.picture})`
		};
	}
}
</script>