<template>
	<div class="LayoutWithToolbar">
		<div class="Toolbar">
			<ul class="ButtonGroup">
				<slot name="toolbar"/>
			</ul>
		</div>
		<div class="PaddingMedium">
			<widget>
				<slot name="main"/>
			</widget>
		</div>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Widget from '@/components/layouts/Widget.vue';

@Component({
	components: {Widget}
})
export default class LayoutWithToolbar extends Vue {

}
</script>