<template>
	<div class="LayoutWithNavigation">
		<div class="Nav Primary">
			<div class="Logo Shadow"></div>
			<router-link :to="{ name: 'dashboard'}" class="NavButton  iconHome">Startseite</router-link>
			<router-link :to="{ name: 'browse', params: { pathMatch: '' }}" class="NavButton  iconFolderWhite">Dateien</router-link>
			<router-link :to="{ name: 'browse', params: { pathMatch: '/users' }}" class="NavButton iconUserWhite">Autoren</router-link>
			<router-link :to="{ name: 'edit', params: { pathMatch: '/settings.json' }}" class="NavButton  iconSettings" data-title="Einstellungen">Einstellungen</router-link>
			<router-link :to="{ name: 'backup'}" class="NavButton iconBackupWhite">Sicherung</router-link>
			<router-link :to="{ name: 'stats'}" class="NavButton  iconMonitoringWhite">Protokoll</router-link>
			<div class="NavButton iconSearch" @click="showSearch=true">Suche</div>
			<div class="NavButton iconLogout" @click="logout()">Abmelden</div>

			<modal v-if="showSearch" large="large" overflow="overflow" @cancel="showSearch=false">
				<div class="PaddingMedium">
					<section>
						<search show-filter="true"/>
					</section>
					<button-input @click="showSearch=false">
						<translate s="close"/>
					</button-input>
				</div>
			</modal>

		</div>
		<div class="Main">
			<slot name="main"/>
		</div>
	</div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Translate from '@/components/helper/Translate.vue';
import Modal from '@/components/dialog/Modal.vue';
import Search from '@/components/Search.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';

@Component({
	components: {ButtonInput, Search, Modal, Translate}
})
export default class LayoutWithNavigation extends Vue {

	showSearch: boolean = false;

	logout() {
		window.location.reload();
	}
}
</script>