<template>
	<div class="Widget">
		<slot/>
	</div>
</template>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';

	@Component({
		components: {}
	})
	export default class Widget extends Vue {

	}
</script>