<template>
	<main class="App">
		<flash-messages/>
		<router-view :key="$route.path"/>
	</main>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import ResourceList from './ResourceList.vue';
import Loader from '@/components/Loader.vue';
import FlashMessages from '@/components/helper/FlashMessages.vue';
import Translations from '@/services/Translations';
import {state} from '@/main';

@Component({
	components: {
		FlashMessages,
		Loader,
		ResourceList
	}
})
export default class App extends Vue {

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		if (!state.api.getCurrentUser()) {
			state.message.warn(Translations.get('session_expired'));
			this.$router.push({name: 'login'}).catch(() => {
			});
		}
	}
}
</script>

<style lang="scss" src="../scss/style.scss"></style>
