<template>
	<nav class="breadcrumb BorderBottom">
		<ul>
			<li :key="index" v-for="(item,index) in items">
				<span v-if="item.isLast">{{ item.title }}</span>
				<router-link v-else :to="{ name: 'browse', params: { pathMatch: item.path }}" class="Link">{{ item.title }}</router-link>
			</li>
		</ul>
	</nav>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import Translations from '@/services/Translations';

@Component
export default class Breadcrumb extends Vue {

	@Prop()
	resource!: Resource;

	get items() {
		let items = [{
			path: '/',
			title: Translations.get('root'),
			isLast: false,
			isRoot: true
		}];
		if (this.resource) {
			let split = this.resource._selfRelative.split('/');
			split.shift();
			for (let i = 0; i < split.length; i++) {
				let path = [''];
				for (let j = 0; j <= i; j++) {
					path.push(split[j]);
				}
				items.push({
					path: path.join('/'),
					title: split[i],
					isLast: i === split.length - 1,
					isRoot: false
				});
			}
		}
		return items;
	}
}
</script>