<template>
	<li :class="['StoreElement', resource.type]">
		<router-link :to="{ name: resource.type === 'Folder' ? 'browse' : 'edit', params: { pathMatch: resource._selfRelative }}" class="">
			<picture-box flex="flex" :picture="resource._preview" v-if="resource.type === 'Picture'"/>
			<div v-else class="Preview"></div>
			<div class="ElementTitle">
				<resource-name :resource="resource"/>
			</div>
		</router-link>
	</li>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import Modal from '@/components/dialog/Modal.vue';
import FormatFileSize from '@/components/helper/FormatFileSize.vue';
import DeleteDialog from '@/components/dialog/DeleteDialog.vue';
import ResourceName from '@/components/Input/ResourceName.vue';
import FormatDate from '@/components/helper/FormatDate.vue';
import PictureBox from '@/components/helper/PictureBox.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';

@Component({
	components: {ButtonInput, PictureBox, FormatDate, ResourceName, DeleteDialog, FormatFileSize, Modal}
})
export default class ResourceGridElement extends Vue {

	@Prop()
	resource!: Resource;

	styleObject = {
		backgroundImage: ''
	};

	// noinspection JSUnusedGlobalSymbols
	mounted() {
		if (this.resource._preview) {
			this.styleObject.backgroundImage = `url(${this.resource._preview})`;
		}
	}

}
</script>