<template>
	<div>

		<grid-view>
			<grid-view-item v-for="child in sortedChildren" :picture="child._preview" :type="child.type" @click="$emit('click', child)">
				{{ child.name }}
			</grid-view-item>
		</grid-view>

		<!--
		<ul class="ResourceGrid">
			<resource-grid-element
				:key="index" :resource="child"
				@click="$emit('click', child)"
				@delete="$emit('delete', child)"
				v-for="(child,index) in sortedChildren"/>
		</ul>
		-->
		<div class="Message Warn" v-if="resource.children.length === 0">
			<translate s="empty_folder"/>
		</div>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceListItem from '@/components/ResourceListItem.vue';
import Translate from '@/components/helper/Translate.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import RadioInput from '@/components/Input/RadioInput.vue';
import CheckboxEditorInput from '@/components/Input/CheckboxEditorInput.vue';
import Breadcrumb from '@/components/Breadcrumb.vue';
import ListViewConfig from '@/models/ListViewConfig';
import ResourceGridElement from '@/components/ResourceGridElement.vue';
import GridView from '@/components/layouts/GridView.vue';
import GridViewItem from '@/components/layouts/GridViewItem.vue';

@Component({
	components: {GridViewItem, GridView, ResourceGridElement, Breadcrumb, CheckboxEditorInput, RadioInput, ButtonInput, Translate, ResourceListItem}
})
export default class ResourceGrid extends Vue {

	@Prop()
	resource!: Resource;

	@Prop()
	listViewConfig!: ListViewConfig;

	get sortedChildren() {
		this.resource.children.sort((a: Resource, b: Resource) => {
			if (a.type === 'Folder' && b.type !== 'Folder') return -1;
			if (b.type === 'Folder' && a.type !== 'Folder') return 1;
			let compare = this.listViewConfig.sortByField === 'name' ? a.name.localeCompare(b.name) : a.changed - b.changed;
			return this.listViewConfig.ascending ? compare : compare * -1;
		});
		return this.resource.children;
	}
}
</script>