<template>
	<div>
		<ul class="ResourceList ResourceListGrid">
			<resource-list-item :key="index" :resource="child" @click="$emit('click', child)" @delete="$emit('delete', child)" v-for="(child,index) in sortedChildren"/>
		</ul>
		<div class="PaddingMedium" v-if="this.resource.children.length===0">
			<message type="Warn">
				<translate s="empty_folder"/>
			</message>
		</div>
	</div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceListItem from '@/components/ResourceListItem.vue';
import Translate from '@/components/helper/Translate.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import RadioInput from '@/components/Input/RadioInput.vue';
import CheckboxEditorInput from '@/components/Input/CheckboxEditorInput.vue';
import Breadcrumb from '@/components/Breadcrumb.vue';
import ListViewConfig from '@/models/ListViewConfig';
import Message from '@/components/helper/Message.vue';

@Component({
	components: {Message, Breadcrumb, CheckboxEditorInput, RadioInput, ButtonInput, Translate, ResourceListItem}
})
export default class ResourceList extends Vue {

	@Prop()
	resource!: Resource;

	@Prop()
	listViewConfig!: ListViewConfig;

	get sortedChildren() {
		this.resource.children.sort((a: Resource, b: Resource) => {
			if (a.type === 'Folder' && b.type !== 'Folder') return -1;
			if (b.type === 'Folder' && a.type !== 'Folder') return 1;
			let compare = this.listViewConfig.sortByField === 'name' ? a.name.localeCompare(b.name) : a.changed - b.changed;
			return this.listViewConfig.ascending ? compare : compare * -1;
		});
		return this.resource.children;
	}
}
</script>