<template>
	<form>
		<ul class="FormFieldList FormFieldListSmall">
			<li>
				<div class="FormField">
					<loader :loading="loading"/>
					<input ref="input" :placeholder="placeholder" type="text" v-bind:value="value" @blur="onBlur()" @input="onInput($event.target.value)"/>
					<div class="InlineSearchList">
						<ul>
							<li :key="index" v-for="(child,index) in searchResult.children">
								<router-link :class="child.type" :to="{ name: child.type === 'Folder' ? 'browse' : 'edit', params: { pathMatch: child._selfRelative }}" class="InlineSearchListItem">
									<div class="Preview">
										<picture-box small="true" :picture="child._preview" v-if="child.type==='Picture'"/>
									</div>
									<resource-name :resource="child" fullPath="true"/>
								</router-link>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li v-if="showFilter">
				<fieldset class="FormFieldInline">
					<checkbox-editor-input label="Inhalt durchsuchen" name="content" v-model="content"/>
					<checkbox-editor-input label="Seiten" name="pages" v-model="pages"/>
					<checkbox-editor-input label="Medien" name="media" v-model="media"/>
				</fieldset>
			</li>
		</ul>
	</form>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import ResourceFactory from '@/services/ResourceFactory';
import Loader from '@/components/Loader.vue';
import Translations from '@/services/Translations';
import ResourceName from '@/components/Input/ResourceName.vue';
import CheckboxEditorInput from '@/components/Input/CheckboxEditorInput.vue';
import {state} from '@/main';
import PictureBox from '@/components/helper/PictureBox.vue';

@Component({
	components: {PictureBox, CheckboxEditorInput, ResourceName, Loader}
})
export default class Search extends Vue {

	value: string = '';

	searchResult: Resource = ResourceFactory.createEmptyResource();

	reloadTimeout!: number;

	loading: boolean = false;

	content: boolean = false;

	pages: boolean = true;

	media: boolean = true;

	@Prop()
	resource!: Resource;

	@Prop()
	showFilter!: boolean;

	get placeholder() {
		return Translations.get('select_resource');
	}

	onBlur() {
		window.setTimeout(() => {
			this.value = '';
			this.searchResult = ResourceFactory.createEmptyResource();
		}, 100);
	}

	onInput(value: string) {
		this.value = value;
		this.updateSearchResult();
	}

	updateSearchResult() {
		if (this.value.length === 0) return;
		if (this.reloadTimeout) clearTimeout(this.reloadTimeout);
		this.reloadTimeout = setTimeout(() => {
			this.loading = true;
			let path: string = this.resource ? this.resource._selfRelative : '/';
			if (this.value.length > 0) {
				path += '?query=' + encodeURIComponent(this.value) + '&limit=20';
			}
			if (this.content) {
				path += '&includeContent';
			}
			let types: string[] = ['Folder'];
			if (this.pages) types.push('Page');
			if (this.media) {
				types.push('Media');
				types.push('Picture');
			}
			path += '&type=' + types.join('|');
			state.api.getResourceByPath(path).then((data) => {
				this.searchResult = data;
				this.loading = false;
			}, () => {
				this.loading = false;
				this.searchResult = ResourceFactory.createEmptyResource();
			});
		}, 400);
	}

	mounted() {
		let input: HTMLElement = <HTMLElement>this.$refs.input;
		input.focus();
	}
}
</script>