<template>
	<form ref="form" class="PaddingLarge" @submit="submit()">
		<loader/>
		<h1 class="Headline">
			<translate s="confirm_copy"/>
		</h1>
		<ul class="FormFieldList">
			<li>
				<select-resource-input v-model="targetFolder" label="Ordner auswählen" type="Folder"/>
			</li>
			<li>
				<text-input v-model="targetName" label="Neuer Name" required @input="slugify"/>
			</li>
			<li>
				<checkbox-editor-input v-model="deleteSourceElement" label="Quellelement löschen" name="delete"/>
			</li>
			<li>
				<fieldset class="ButtonGroup">
					<button-input primary="true" submit="true" @click="submit">
						<translate s="copy"/>
					</button-input>
					<button-input @click="$emit('cancel')">
						<translate s="cancel"/>
					</button-input>
				</fieldset>
			</li>
		</ul>
	</form>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import Modal from '@/components/dialog/Modal.vue';
import TextInput from '@/components/Input/TextInput.vue';
import SelectResourceInput from '@/components/Input/SelectResourceInput.vue';
import CheckboxEditorInput from '@/components/Input/CheckboxEditorInput.vue';
import ResourceService from '@/services/ResourceService';
import Resource from '@/models/Resource';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import {state} from '@/main';
import Translations from '@/services/Translations';

@Component({
	components: {ButtonInput, CheckboxEditorInput, SelectResourceInput, TextInput, Modal, Translate, Loader}
})
export default class CopyDialog extends Vue {

	@Prop()
	source!: Resource;

	@Prop()
	targetEditor!: string;

	targetName: string = '';

	targetFolder: string = '';

	deleteSourceElement: boolean = false;

	loading: boolean = false;

	submit() {

		// Validate the form
		let form: HTMLFormElement = <HTMLFormElement>this.$refs.form;
		if (!form.reportValidity()) {
			state.message.error(Translations.get('invalid_form'));
			return;
		}

		// Assemble the new path
		let newPath = this.targetFolder + '/';
		newPath += this.source.type === 'Page' ? ResourceService.getInternalPath(this.targetName) : this.targetName;

		// Check if no resource already exists in the target path
		this.loading = true;
		state.api.getResourceByPath(newPath).then(() => {

			// Resource in target already exists
			state.message.error(Translations.get('duplicate_resource'));
			this.loading = false;

		}).catch(() => {

			// Resource doesnt exist => copy
			state.api.copy(this.source, newPath).then(() => {

				if (this.deleteSourceElement) {
					state.api.deleteResource(this.source)
						.then(() => state.message.ok(Translations.get('delete_success')))
						.catch(() => state.message.ok(Translations.get('delete_error')));
				}

				state.message.ok(Translations.get('copy_success'));
				this.$router.push({name: this.targetEditor === 'media' ? 'editMedia' : 'edit', params: {pathMatch: newPath}});
			}).catch(() => {
				state.message.error(Translations.get('copy_error'));
				this.loading = false;
			});
		});
	}

	slugify() {
		this.targetName = state.api.slugify(this.targetName);
	}

	mounted() {
		this.targetFolder = this.source._parentRelative;
		this.targetName = ResourceService.getExternalPath(this.source.name);
	}
}
</script>