<template>
	<div class="PaddingLarge">
		<form class="CreateMediaForm">
			<input @change="change()" class="hidden" multiple ref="myFiles" type="file"/>

			<div class="Grid" v-show="loading">
				<div class="Progress">
					<div class="ProgressValueWrapper">
						<div class="ProgressValue" ref="progress"></div>
					</div>
				</div>
				<p class="Text center">Dateien werden hochgeladen. Dies kann mehrere Minuten dauern.</p>
			</div>

			<ul class="FormFieldList" v-show="!loading">
				<li v-if="files.length>0">
					<ul class="filePreview">
						<li v-bind:class="{loading:file.loading, completed:file.completed}" v-for="file in files">
							<div>
								<picture-box small="true" :picture="file.dataUri" v-if="isImage(file.file)"/>
								<div class="dummy" v-else></div>
							</div>
							<div>
								<text-input v-model="file.name"/>
							</div>
							<div>
								<a @click.prevent="remove(file.file)" class="Button IconOnly iconDelete" href="#"></a>
							</div>
						</li>
					</ul>
				</li>

				<li>
					<button @click.prevent="$refs.myFiles.click()" class="Button ButtonPrimary ButtonWide" ref="selectButton">
						<translate s="add_files"/>
					</button>
				</li>

				<li class="ButtonGroup">
					<button @click.prevent="save()" class="Button ButtonPrimary" v-bind:class="{'ButtonDisabled':files.length===0}">
						<translate s="upload"/>
					</button>
					<button @click.prevent="$emit('cancel')" class="Button">
						<translate s="cancel"/>
					</button>
				</li>
			</ul>
		</form>
	</div>
</template>

<script lang="ts">
	import {Component, Prop, Vue} from 'vue-property-decorator';
	import Resource from '@/models/Resource';
	import ResourceWriteRequest from '@/models/ResourceWriteRequest';
	import UploadDataItem from '@/models/UploadDataItem';
	import FormatFileSize from '@/components/helper/FormatFileSize.vue';
	import Translate from '@/components/helper/Translate.vue';
	import Translations from '@/services/Translations';
	import DOMUtility from '@/services/DOMUtility';
	import {state} from '@/main';
	import PictureBox from '@/components/helper/PictureBox.vue';
	import TextInput from '@/components/Input/TextInput.vue';
	import SelectResourceInput from '@/components/Input/SelectResourceInput.vue';
	import ResourceFactory from '@/services/ResourceFactory';

	@Component({
		components: {SelectResourceInput, TextInput, PictureBox, Translate, FormatFileSize}
	})
	export default class CreateMediaForm extends Vue {

		@Prop()
		parent!: Resource;

		files: UploadDataItem[] = [];

		loading: boolean = false;

		max: number = 0;

		change() {
			let input: HTMLInputElement = <HTMLInputElement>this.$refs.myFiles;
			let fileList: FileList = <FileList>input.files;
			let length: number = fileList.length;
			for (let i = 0; i < length; i++) {
				let item: File | null = fileList.item(i);
				if (item !== null) {
					let uploadDataItem = new UploadDataItem();
					uploadDataItem.file = item;
					uploadDataItem.name = item.name;
					this.toBase64(item).then((v) => {
						uploadDataItem.dataUri = v;
						uploadDataItem.loading = false;
					});
					this.files.push(uploadDataItem);
				}
			}
			DOMUtility.resetFocus();
		}

		remove(file: File) {
			let newFiles: UploadDataItem[] = [];
			for (let i = 0; i < this.files.length; i++) {
				if (this.files[i].file.name !== file.name) {
					newFiles.push(this.files[i]);
				}
			}
			this.files = newFiles;
		}

		toBase64(file: File): Promise<string> {
			return new Promise((resolve, reject) => {
				const reader = new FileReader();
				reader.readAsDataURL(file);
				reader.onload = () => resolve(reader.result !== null ? reader.result.toString() : '');
				reader.onerror = error => reject(error);
			});
		}

		async save() {
			this.max = this.files.length;
			this.loading = true;
			window.setTimeout(this.uploadFiles, 200);
		}

		async uploadFiles() {
			if (this.files.length === 0) {
				// All files are uploaded
				this.loading = false;
				this.$emit('created');
				this.$emit('cancel');
				state.api.clearCache();
				state.message.ok(Translations.get('files_uploaded'));
				return;
			}

			let progress: HTMLElement = <HTMLElement>this.$refs.progress;
			progress.style.width = ((this.max - this.files.length) / (this.max / 100)) + '%';

			let uploadDataItem: UploadDataItem = <UploadDataItem>this.files.shift();
			let writeRequest = new ResourceWriteRequest();
			writeRequest.type = this.filenameIsImage(uploadDataItem.file.name) ? 'Picture' : 'Media';
			writeRequest.name = uploadDataItem.name;
			writeRequest.data = await this.toBase64(uploadDataItem.file);

			state.api.createResource(writeRequest, this.parent).finally(() => {
				this.uploadFiles();
			});
		}

		filenameIsImage(filename: string): boolean {
			let extension: string = <string>filename.toLowerCase().split('.').pop();
			return extension === 'jpg' || extension === 'jpeg' || extension === 'png' || extension === 'gif';
		}

		isImage(file: File): boolean {
			return file.type.split('/')[0] === 'image';
		}

		mounted() {
			if (!this.parent) {
				this.parent = ResourceFactory.createEmptyResource();
			}
		}
	}
</script>