<template>
	<form class="PaddingLarge">
		<loader :loading="loading"/>
		<ul class="FormFieldList">
			<li>
				<text-input label="Name" name="name" required v-model="value"/>
			</li>
			<li>
				<fieldset class="ButtonGroup">
					<button-input primary="true" submit="submit" @click="save()">
						<translate s="create_folder"/>
					</button-input>
					<button-input @click="$emit('cancel')">
						<translate s="cancel"/>
					</button-input>
				</fieldset>
			</li>
		</ul>
	</form>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import Translations from '@/services/Translations';
import TextInput from '@/components/Input/TextInput.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import {state} from '@/main';

@Component({
	components: {ButtonInput, TextInput, Translate, Loader}
})
export default class CreateFolderForm extends Vue {

	value: string = '';

	loading: boolean = false;

	@Prop()
	parent!: Resource;

	save() {
		this.loading = true;
		state.api.createFolder(this.value, this.parent).then((data) => {
			let newResource: Resource = <Resource>data;
			this.$emit('created', newResource);
			state.message.ok(Translations.get('folder_created'));
		}).finally(() => this.loading = false);
	}

	cancel() {
		this.$emit('cancel');
	}
}
</script>