<template>
	<form class="PaddingLarge">
		<loader :loading="loading"/>
		<ul class="FormFieldList">
			<li>
				<text-input v-model="value" label="Name" name="name" required @input="slugify"/>
			</li>
			<li>
				<div class="FormField">
					<label for="type">Typ</label>
					<select id="type" required v-model="type">
						<option v-for="type in types" v-if="!type.hidden" :value="type.name">{{ type.label }}</option>
					</select>
				</div>
			</li>
			<li>
				<fieldset class="ButtonGroup">
					<button-input @click="save()" primary="true">
						<translate s="create_page"/>
					</button-input>
					<button-input @click="$emit('cancel')">
						<translate s="cancel"/>
					</button-input>
				</fieldset>
			</li>
		</ul>
	</form>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Resource from '@/models/Resource';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import Translations from '@/services/Translations';
import TextInput from '@/components/Input/TextInput.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import {state} from '@/main';
import SelectResourceInput from '@/components/Input/SelectResourceInput.vue';

@Component({
	components: {SelectResourceInput, ButtonInput, TextInput, Translate, Loader}
})
export default class CreatePageForm extends Vue {

	value: string = '';

	type: string = '';

	loading: boolean = false;

	@Prop()
	parent!: Resource;

	get types() {
		return state.api.getTypes();
	}

	save() {
		this.loading = true;
		state.api.createPage(this.value, this.type, this.parent).then((data) => {
			let newResource: Resource = <Resource>data;
			console.log('new resource', newResource);
			state.message.ok(Translations.get('page_created'));
			this.$emit('created', newResource);
		}, () => {
			state.message.ok(Translations.get('create_error'));
		}).finally(() => this.loading = false);
	}

	slugify() {
		this.value = state.api.slugify(this.value);
	}
}
</script>