<template>
	<form class="PaddingLarge">
		<h1 class="Headline">
			<translate s="confirm_delete"/>
		</h1>
		<div class="ButtonGroup">
			<button @click.prevent="$emit('delete')" class="Button ButtonWarn">
				<translate s="delete"/>
			</button>
			<button @click.prevent="$emit('cancel')" class="Button">
				<translate s="cancel"/>
			</button>
		</div>
	</form>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import Modal from '@/components/dialog/Modal.vue';

@Component({
	components: {Modal, Translate, Loader}
})
export default class CreateFolderForm extends Vue {

}
</script>