<template>
	<form class="PaddingLarge">

		<h2 class="Headline">Bildergalerie einfügen</h2>

		<ul class="FormFieldList">
			<li>
				<select-resource-input label="Ordner auswählen" type="Folder" v-model="path"/>
			</li>
			<li>
				<div class="ButtonGroup">
					<button @click.prevent="$emit('insert', path)" class="Button ButtonPrimary">
						<translate s="insert"/>
					</button>
					<button @click.prevent="$emit('cancel')" class="Button">
						<translate s="cancel"/>
					</button>
				</div>
			</li>
		</ul>
	</form>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import TextInput from '@/components/Input/TextInput.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import RadioInput from '@/components/Input/RadioInput.vue';
import SelectResourceInput from '@/components/Input/SelectResourceInput.vue';

@Component({
	components: {SelectResourceInput, RadioInput, ButtonInput, TextInput, Translate, Loader}
})
export default class InsertGalleryForm extends Vue {
	path: string = '';
}
</script>