<template>
	<form class="PaddingLarge" ref="form">

		<h2 class="Headline">Link einfügen</h2>

		<ul class="FormFieldList">
			<li>
				<label>Auf welchen Inhaltstyp soll verlinkt werden?:</label>
				<fieldset class="FormFieldInline">
					<radio-input label="Seite" name="type" required v="Page" v-model="type"/>
					<!--
					<radio-input label="Bild" name="type" required v="Picture" v-model="type"/>
					-->
					<radio-input label="Datei" name="type" required v="Media" v-model="type"/>
					<radio-input label="Externe Seite" name="type" required v="External" v-model="type"/>
					<radio-input label="E-Mail" name="type" required v="Email" v-model="type"/>
					<radio-input label="Telefonnummer" name="type" required v="Phone" v-model="type"/>
				</fieldset>
			</li>
			<li>
				<select-resource-input label="Seite auswählen" name="selectPage" required type="Page" v-if="type==='Page'" v-model="path"/>
				<select-resource-input label="Bild auswählen" name="selectPage" required type="Picture" v-else-if="type==='Picture'" v-model="path"/>
				<select-resource-input label="Datei auswählen" name="selectPage" required type="Media" v-else-if="type==='Media'" v-model="path"/>
				<text-input label="Ziel-URL" required v-else-if="type==='External'" v-model="path"/>
				<text-input label="E-Mail" required v-else-if="type==='Email'" v-model="path"/>
				<text-input label="Telefonnummer" required v-else-if="type==='Phone'" v-model="path"/>
			</li>
			<li v-if="type === 'Picture'">
				<text-input label="Bildunterschrift" v-model="title"/>
			</li>
			<li v-else>
				<text-input label="Link-Text" required v-model="title"/>
			</li>
			<li>
				<div class="ButtonGroup">
					<button :class="{'Button':true, 'ButtonPrimary': true, 'ButtonDisabled': !validate()}" @click.prevent="insert">
						<translate s="insert"/>
					</button>
					<button @click.prevent="$emit('cancel')" class="Button">
						<translate s="cancel"/>
					</button>
				</div>
			</li>
		</ul>
	</form>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import Loader from '@/components/Loader.vue';
import Translate from '@/components/helper/Translate.vue';
import TextInput from '@/components/Input/TextInput.vue';
import ButtonInput from '@/components/Input/ButtonInput.vue';
import RadioInput from '@/components/Input/RadioInput.vue';
import SelectResourceInput from '@/components/Input/SelectResourceInput.vue';

@Component({
	components: {SelectResourceInput, RadioInput, ButtonInput, TextInput, Translate, Loader}
})
export default class InsertLinkForm extends Vue {

	@Prop()
	title!: string;

	path: string = '';

	type: string = '';

	validate(): boolean {
		if (!this.$refs.form) return false;
		let form: HTMLFormElement = <HTMLFormElement>this.$refs.form;
		if (!form.reportValidity()) {
			return false;
		}
		return this.path.length > 0;
	}

	insert() {
		if (!this.validate()) return;
		this.$emit('insert', this.path, this.type, this.title);
	}
}
</script>