<template>
	<transition name="modal">
		<div class="modal-mask">
			<div class="modal-wrapper">
				<div :class="{'modal-container':true, 'modal-container-large':large, 'modal-container-overflow':overflow, 'modal-container-fullscreen':fullscreen}">
					<slot/>
				</div>
			</div>
		</div>
	</transition>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class Modal extends Vue {

	@Prop()
	large!: boolean;

	@Prop()
	overflow!: boolean;

	@Prop()
	fullscreen!: boolean;
}
</script>