.Link {
	display: inline-block;
	text-decoration: underline;
	cursor: pointer;
	color: inherit;
	@include hoverColor(transparent, $colorHighlightBackground);
}

.Button {
	@extend .HoverAnimationButton;
	@extend .ColorSchemeButton;
	@extend .BoxStyle;
	cursor: pointer;
	display: block;
	font-size: $fontSize;
	height: $buttonHeight;
	line-height: $baseHeightSmall;
	padding: $paddingMedium $paddingLarge;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	//text-transform: uppercase;

	&.Icon {
		padding-left: $baseHeight *1.5;
		padding-right: $baseHeight/2;
	}

	&.ButtonPrimary {
		@extend .ColorSchemeButtonPrimary;
	}

	&.ButtonWarn {
		@extend .ColorSchemeError;
	}

	&.ButtonSmall {
		font-size: $fontSizeSmall;
		height: $baseHeightSmall + ($paddingSmall * 2);
		padding: $paddingSmall $paddingMedium;

		&.Icon {
			padding-left: $baseHeight;
			padding-right: $baseHeight/3;
		}
	}

	&.ButtonDisabled {
		@extend .ColorSchemeDisabled;
	}

	&.ButtonTransparent {
		@extend .ColorSchemeTransparentWithHover;
	}

	&.ButtonWide {
		width: 100%;
	}

	&.ButtonCircle {
		border-radius: 50%;
	}
}

.ButtonGroup {
	text-align: right;

	.Button {
		display: inline-block;
		margin-right: $paddingSmall;

		&:last-child {
			margin-right: 0;
		}
	}
}