$colorText: rgb(51, 51, 51);
$colorBackground: #e6e7e8;
$colorPrimaryBackground: #333333;
$colorHighlightBackground: hsl(208, 84%, 44%);
//$colorHighlightBackground: #874d86;
$colorPrimaryText: #e6e7e8;

$colorWarn: #ffeaab;
$colorSuccess: #95c65e;
$colorError: #de8268;

$colorFolder: rgba(255, 241, 207, 0.6);

@mixin hoverColor($background, $text) {
	&:hover,
	&:active,
	&:focus,
	&.active {
		background-color: lighten($background, 5%);
		color: lighten($text, 5%);
		border-color: lighten($text, 5%);
	}
}

.ColorSchemePageBackground {
	$bg: transparentize(darken($colorBackground, 15%), 0.5);
	background-color: $bg;
	color: darken($colorText, 10%);
	border-color: darken($bg, 5%);
}

.ColorSchemeToolbar {
	background-color: transparentize($colorBackground, 0.2);
	color: darken($colorText, 10%);
}

.ColorSchemePrimary {
	color: $colorPrimaryText;
	background-color: lighten($colorPrimaryBackground, 10%);

	&:hover,
	&:active,
	&:focus,
	&.active {
		background-color: darken($colorPrimaryBackground, 5%);
		color: darken($colorPrimaryText, 5%);
	}
}

.ColorSchemeError {
	background-color: $colorError;
	color: $colorText;

	&:hover,
	&:active,
	&:focus,
	&.active {
		background-color: lighten($colorError, 5%);
		color: darken($colorText, 5%);
	}
}

.ColorSchemeDisabled {
	background-color: transparentize(darken($colorBackground, 10%), 0.2) !important;
	color: lighten($colorText, 20%) !important;
	cursor: default !important;

	&:hover,
	&:active,
	&:focus,
	&.active {
		background-color: transparentize(darken($colorBackground, 10%), 0.2) !important;
		color: lighten($colorText, 20%) !important;
	}
}

.ColorSchemeButton {
	background-color: transparentize(darken($colorBackground, 30%), 0.3);
	color: darken($colorText, 20%);

	&:hover,
	&:active,
	&:focus,
	&.active {
		background-color: transparentize(darken($colorBackground, 50%), 0.3);
		color: darken($colorText, 10%);
	}
}

.ColorSchemeButtonPrimary {
	color: $colorPrimaryText;
	background-color: $colorHighlightBackground;

	&:hover,
	&:active,
	&:focus,
	&.active {
		background-color: lighten($colorHighlightBackground, 5%);
		color: lighten($colorPrimaryText, 5%);
	}
}

.ColorSchemeHighlight {
	color: $colorPrimaryText;
	background-color: $colorHighlightBackground;
}

.ColorSchemeDefault {
	background-color: $colorBackground;
	color: $colorText;
	border-color: darken($colorBackground, 5%);
	@include hoverColor($colorBackground, $colorText);
}

.ColorSchemeTransparentWithHover {
	background-color: rgba(0, 0, 0, 0);
	border-color: darken($colorBackground, 5%);

	&:hover,
	&:active,
	&:focus,
	&.active {
		background-color: transparentize(darken($colorBackground, 40%), 0.1);
	}
}

.ColorSchemeAlternate {
	background-color: transparentize($colorText, 0.2);
	color: $colorBackground;
}

.ColorSchemeInput {
	background-color: $colorBackground;
	color: lighten($colorText, 10%);
	border-color: darken($colorBackground, 15%);

	&:hover {
		background-color: lighten($colorBackground, 5%);
		color: darken($colorText, 5%);
	}

	&:active,
	&:focus {
		background-color: lighten($colorBackground, 10%);
		color: darken($colorText, 10%);
	}
}

