.GridView {
	display: grid;
	grid-gap: $paddingMedium;
	grid-template-columns: 1fr 1fr 1fr 1fr;

	.GridViewItem {
		@extend .ColorSchemeToolbar;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		cursor: pointer;
		display: block;
		margin: 0;
		padding: 0;
		position: relative;

		&:after {
			@extend .Transition;
			background-color: $colorHighlightBackground;
			bottom: 0;
			content: "";
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		&:hover, &:active, &:focus {
			&:after {
				opacity: 0.3;
			}
		}

		&.GridViewItemBack {
			background-image: url("~@/assets/chevron-left.svg");
			background-size: 25%;
		}

		&.GridViewItemAdd {
			background-image: url("~@/assets/upload.svg");
			background-size: 25%;
		}

		&.GridViewItemFolder {
			background-color: $colorFolder;
			background-image: url("~@/assets/folder.svg");
			background-size: 25%;
		}

		&.GridViewItemTextFile {
			background-image: url("~@/assets/textFile.svg");
			background-size: 25%;
		}

		&.GridViewItemMedia {
			background-image: url("~@/assets/file.svg");
			background-size: 25%;
		}

		&.GridViewItemSelected {
			&:after {
				opacity: 0.7;
			}
		}

		.GridViewItemInner {
			@extend .AspectRatio;
		}

		.GridViewItemLabel {
			@extend .ColorSchemeToolbar;
			@extend .TextSmall;
			@extend .PaddingSmall;
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}