$iconLarge: 3.2rem;
$iconSmall: 2.4rem;
$iconPaddingLarge: 2rem;
$iconPaddingSmall: 1rem;

.Icon {
	background-position: $iconPaddingLarge center;
	background-repeat: no-repeat;
	background-size: $iconLarge;
	padding-left: $iconLarge + $iconPaddingLarge * 2;
	padding-right: $iconPaddingLarge;
}

.IconOnly {
	background-position: center !important;
	padding: 0 !important;
	width: $iconLarge  * 2;
}

.IconCenter {
	background-position: center;
}

.IconSmall {
	background-position: $iconPaddingSmall center;
	background-repeat: no-repeat;
	background-size: $iconSmall;
	padding-left: $iconSmall + $iconPaddingSmall * 2;
	padding-right: $iconPaddingSmall;

	&.IconOnly {
		width: $iconSmall  * 2;
	}
}

.iconBack {
	@extend .Icon;
	background-image: url("~@/assets/chevron-left.svg");
}

.iconUp {
	@extend .Icon;
	background-image: url("~@/assets/up.svg");
}

.iconDown {
	@extend .Icon;
	background-image: url("~@/assets/down.svg");
}

.iconDelete {
	@extend .Icon;
	background-image: url("~@/assets/trash.svg");
}

.iconPlus {
	@extend .Icon;
	background-image: url("~@/assets/plus.svg");
}

.iconSave {
	@extend .Icon;
	background-image: url("~@/assets/save.svg");
}

.iconClose {
	@extend .Icon;
	background-image: url("~@/assets/close.svg");
}

.iconHome {
	@extend .Icon;
	background-image: url("~@/assets/home.svg");
}

.iconCheck {
	@extend .Icon;
	background-image: url("~@/assets/checkmark.svg");
}

.iconAlert {
	@extend .Icon;
	background-image: url("~@/assets/alert.svg");
	background-image: url("~@/assets/warn.svg");
}

.iconLink {
	@extend .Icon;
	background-image: url("~@/assets/link.svg");
}

.iconPicture {
	@extend .Icon;
	background-image: url("~@/assets/photo.svg");
}

.iconLogout {
	@extend .Icon;
	background-image: url("~@/assets/sign-out.svg");
}


.iconActivity {
	@extend .Icon;
	background-image: url("~@/assets/activity.svg");
}

.iconUpdate {
	@extend .Icon;
	background-image: url("~@/assets/reload.svg");

}

.iconFolder {
	@extend .Icon;
	background-image: url("~@/assets/folder.svg");
}

.iconFolderWhite {
	@extend .Icon;
	background-image: url("~@/assets/folder_white.svg");
}

.iconFile {
	@extend .Icon;
	background-image: url("~@/assets/file.svg");
}

.iconPage {
	@extend .Icon;
	background-image: url("~@/assets/book.svg");
}

.iconTextFile {
	@extend .Icon;
	background-image: url("~@/assets/textFile.svg");
}

.iconUpload {
	@extend .Icon;
	background-image: url("~@/assets/upload.svg");
}

.iconWindow {
	@extend .Icon;
	background-image: url("~@/assets/window.svg");
}

.iconSettings {
	@extend .Icon;
	background-image: url("~@/assets/settings.svg");
}

.iconSearch {
	@extend .Icon;
	background-image: url("~@/assets/search.svg");
}

.iconBold {
	@extend .Icon;
	background-image: url("~@/assets/format_bold.svg");
}

.iconItalic {
	@extend .Icon;
	background-image: url("~@/assets/format_italic.svg");
}

.iconUnderline {
	@extend .Icon;
	background-image: url("~@/assets/format_underline.svg");
}

.iconQuote {
	@extend .Icon;
	background-image: url("~@/assets/format_quote.svg");
}

.iconHr {
	@extend .Icon;
	background-image: url("~@/assets/format_hr.svg");
}


.iconCenter {
	@extend .Icon;
	background-image: url("~@/assets/format_center.svg");
}

.iconH1 {
	@extend .Icon;
	background-image: url("~@/assets/format_h1.svg");
}

.iconH2 {
	@extend .Icon;
	background-image: url("~@/assets/format_h2.svg");
}

.iconSub {
	@extend .Icon;
	background-image: url("~@/assets/format_sub.svg");
}

.iconSup {
	@extend .Icon;
	background-image: url("~@/assets/format_sup.svg");
}

.iconBackup {
	@extend .Icon;
	background-image: url("~@/assets/backup_dark.svg");
}

.iconBackupWhite {
	@extend .Icon;
	background-image: url("~@/assets/backup_white.svg");
}

.iconCopy {
	@extend .Icon;
	background-image: url("~@/assets/copy.svg");
}

.iconUserWhite {
	@extend .Icon;
	background-image: url("~@/assets/icon_user.svg");
}

.iconMonitoringWhite {
	@extend .Icon;
	background-image: url("~@/assets/monitoring.svg");
}