form {
	.inputStyle {
		@extend .Transition;
		@extend .ColorSchemeInput;
		@extend .Shadow;
		@extend .BoxStyle;
		align-self: start;
		box-sizing: border-box;
		font-family: 'IBM Plex Mono';
		//border-bottom-width: $borderWidth;
		//border-bottom-style: solid;
		font-size: $fontSize;
		height: $buttonHeight;
		line-height: $baseHeightSmall;
		padding: $paddingMedium;
		position: relative;

		/* Change Autocomplete styles in Chrome*/
		&:-webkit-autofill,
		&:-webkit-autofill:hover {
			border-width: $borderWidth !important;
			border-color: transparent !important;
			border-style: solid !important;
			-webkit-text-fill-color: inherit !important;
			-webkit-box-shadow: none !important;
		}

		&:invalid {
			@extend .iconAlert;
			border-bottom-color: $colorError;
		}
	}

	label {
		display: block;
		@extend .TextSmall;
		font-weight: bold;
		margin-bottom: $paddingSmall;
		text-transform: uppercase;
	}

	fieldset {
		padding: 0;
	}

	label.required:after {
		content: "*";
	}

	input {
		@extend .inputStyle;

		&[type="text"], &[type="password"], &[type="date"] {
			width: 100%;
		}

	}

	.Checkbox {

		input[type="checkbox"] {
			position: relative;
			display: none;

			+ label {
				cursor: pointer;
				position: relative;
				padding-left: $baseHeightSmall * 2 + $paddingMedium;

				&:before {
					@extend .ColorSchemeDefault;
					position: absolute;
					left: 0;
					content: "";
					width: $baseHeightSmall * 2;
					height: $baseHeightSmall;
					border-radius: $baseHeightSmall;
				}

				&:after {
					@extend .Transition;
					@extend .ColorSchemeAlternate;
					position: absolute;
					border-radius: 50%;
					left: 0.5rem;
					top: 0.5rem;
					content: "";
					width: $baseHeightSmall - 1rem;
					height: $baseHeightSmall - 1rem;
				}
			}

			&:checked + label:after {
				@extend .ColorSchemeHighlight;
				left: $baseHeightSmall + 0.2rem;
			}
		}
	}

	.Radio {
		input[type="radio"] {
			position: relative;
			display: none;

			+ label {
				cursor: pointer;
				position: relative;
				padding-left: $baseHeightSmall + $paddingSmall;

				&:before {
					@extend .ColorSchemeDefault;
					position: absolute;
					left: 0;
					content: "";
					width: $baseHeightSmall;
					height: $baseHeightSmall;
					border-radius: $baseHeightSmall;
				}

				&:after {
					@extend .Transition;
					position: absolute;
					border-radius: 50%;
					left: 0.5rem;
					top: 0.5rem;
					content: "";
					width: $baseHeightSmall - 1rem;
					height: $baseHeightSmall - 1rem;
				}
			}

			&:checked + label:after {
				@extend .ColorSchemeHighlight;
			}
		}
	}

	.Editor {
		position: relative;
		@extend .ColorSchemeAlternate;

		.EditorToolbar {
			position: sticky;

			> .ButtonGroup {
				padding: $paddingSmall;
				text-align: left;
			}
		}

		.EditorWordCount {
			@extend .TextSmall;
			@extend .ColorSchemeAlternate;
			content: attr(data-word-count);
			padding: $paddingSmall;
		}


		.TextareaWrapper {
			textarea {
				height: calc(100vh - 13rem);
				padding: $paddingLarge;
			}
		}
	}

	select {
		@extend .inputStyle;
		width: 100%;
	}

	textarea {
		@extend .inputStyle;
		width: 100%;
		min-height: 50rem;
	}

	.FormFieldList {
		li {
			margin-bottom: $paddingLarge;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.FormFieldListSmall {
			li {
				margin-bottom: $paddingSmall;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.FormField {
		position: relative;

		.Picture {
			display: grid;
			grid-template-columns: min-content auto;
			grid-gap: $paddingMedium;
		}

		&.valid {
			input {
				@extend .iconCheck;
			}
		}

		&.invalid {
			input {
				@extend .iconAlert;
			}
		}
	}

	.FormFieldArray {

		.FormFieldArrayContent {
			display: grid;
			grid-template-columns: auto min-content min-content min-content;
			grid-gap: $paddingSmall;
			margin-bottom: $paddingSmall;

			.FormField {
				margin-bottom: 0;
			}
		}

		.FormFieldMapContent {
			display: grid;
			grid-template-columns: auto auto min-content;
			grid-gap: $paddingSmall;
			margin-bottom: $paddingSmall;

			.FormField {
				margin-bottom: 0;
			}
		}
	}

	.FormFieldInline {

		.FormField {
			display: inline-block;
			margin-right: $paddingMedium;

			label {
				margin-bottom: 0;
			}
		}
	}
}