.Message {
	@extend .PaddingMedium;
	@extend .Text;
	@extend .ColorSchemeToolbar;
	@extend .BoxStyle;

	&.MessageSmall {
		@extend .TextSmall;
		padding-bottom: $paddingSmall;
		padding-top: $paddingSmall;
		@extend .IconSmall;
	}

	&.Warn {
		background-color: $colorWarn;
		@extend .iconAlert;
	}

	&.Success {
		background-color: $colorSuccess;
		@extend .iconCheck;
	}

	&.Error {
		background-color: $colorError;
		@extend .iconAlert;
	}
}

.FlashMessagesWrapper {
	position: relative;
	text-align: center;

	.FlashMessages {
		@extend .PaddingMedium;
		position: absolute;
		display: block;
		margin: auto;
		top: 0;
		right: 0;
		z-index: 800;

		.Message {
			display: block;
			text-align: left;
			margin-bottom: $paddingSmall;
		}
	}
}