.modal-mask {
	@extend .Transition;
	position: fixed;
	z-index: 600;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	display: table;
	backdrop-filter: blur(3px) grayscale(0.5);
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	@extend .ColorSchemeToolbar;
	@extend .Shadow;
	@extend .BoxStyle;
	//border-left: solid $borderWidth*2 $colorHighlightBackground;
	margin: 0 auto;
	max-height: 95vh;
	max-width: 100vw;
	overflow: auto;
	position: relative;
	transition: all .3s ease;
	width: 60rem;

	&.modal-container-overflow {
		overflow: visible;
	}

	form {
		max-height: 90vh;
	}

	&.modal-container-large {
		max-width: 100vw;
		width: 110rem;
	}

	&.modal-container-fullscreen {
		border-left: none;
		border-radius: 0;
		height: 100vh;
		left: 0;
		max-height: 100vh;
		top: 0;
		width: 100vw;

		form {
			max-height: 100vh;
		}
	}
}

.modal-header {
	font-size: 2rem;
}

.modal-footer {
	text-align: right;
}

.modal-footer button {
	margin-left: 0.5rem;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	transform: scale(1.1);
}