$rowHeight: $baseHeight * 1.5;

.ResourceList {
	@extend .Text;
	line-height: $rowHeight;

	.StoreElement {
		@extend .ColorSchemeTransparentWithHover;
		@extend .BoxStyle;
		display: block;
		margin-bottom: $paddingSmallest;

		a {
			display: grid;
			grid-template-columns: min-content auto min-content $rowHeight min-content;
			grid-gap: $paddingMedium;
		}

		&.Folder {
			background-color: $colorFolder;

			.Preview {
				height: $rowHeight;
				width: $rowHeight;
				@extend .iconFolder;
				@extend .IconOnly;
			}
		}

		&.Media {
			.Preview {
				height: $rowHeight;
				width: $rowHeight;
				@extend .iconFile;
				@extend .IconOnly;
			}
		}

		&.Page {
			.Preview {
				height: $rowHeight;
				width: $rowHeight;
				@extend .iconPage;
				@extend .IconOnly;
			}
		}

		&.TextFile {
			.Preview {
				height: $rowHeight;
				width: $rowHeight;
				@extend .iconTextFile;
				@extend .IconOnly;
			}
		}

		&.Picture {
			.Preview {
				@extend .PaddingSmall;

				.PreviewPicture {
					height: $rowHeight - 2*$paddingSmall;
					width: $rowHeight - 2*$paddingSmall;
					background-position: center;
					background-size: cover;
				}
			}
		}

		.Button {
			height: $rowHeight !important;
		}
	}
}

.ResourceGrid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $paddingMedium;

	@media only screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@media only screen and (min-width: 1440px) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	@media only screen and (min-width: 1920px) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	@media only screen and (min-width: 2560px) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.StoreElement {
		position: relative;

		.Preview {
			@extend .AspectRatio;
			@extend .ColorSchemeToolbar;
			@extend .Shadow;
			width: 100% !important;
			height: auto !important;

		}

		&.Folder {
			.Preview {
				@extend .iconFolder;
				@extend .IconOnly;
			}
		}

		&.Media {
			.Preview {
				@extend .iconFile;
				@extend .IconOnly;
			}
		}

		&.Page {
			.Preview {
				@extend .iconPage;
				@extend .IconOnly;
			}
		}
	}

	.ElementTitle {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		@extend .TextSmall;
		@extend .ColorSchemeToolbar;
		@extend .PaddingMedium;
		@extend .NoBreak;
		overflow: hidden;
	}
}