@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	src: local('IBM Plex Sans'), local('IBMPlexSans'),
	url('~@/assets/font/ibm-plex-sans-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('~@/assets/font/ibm-plex-sans-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
	url('~@/assets/font/ibm-plex-sans-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('~@/assets/font/ibm-plex-sans-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url('~@/assets/font/ibm-plex-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('~@/assets/font/ibm-plex-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$baseHeight: 5rem;
$baseHeightSmall: 3rem;

$paddingSmallest: 0.5rem;
$paddingSmall: 1rem;
$paddingMedium: 2rem;
$paddingLarge: $baseHeight;

$fontSize: 1.6rem;
$fontSizeLarge: 2rem;
$fontSizeSmall: 1.4rem;

$borderWidth: 3px;

$buttonHeight: $baseHeightSmall + ($paddingMedium * 2);

$borderRadius: 3px;


@import "reset.scss";
@import "colors.scss";
@import "icons.scss";
@import "inputs.scss";
@import "inputs.scss";
@import "modal.scss";
@import "messages.scss";
@import "buttons.scss";
@import "ressourceList.scss";
@import "fileChooser.scss";

.Animated {
	@extend .Transition;
	transform: translateY(0);

	&:hover,
	&:active,
	&:focus {
		transform: translateY(3px);
	}
}

html {
	background-image: url("~@/assets/lowpoly(4).png");
	background-size: cover;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 10px;
	height: 100vh;
}

body {
	@extend .ColorSchemePageBackground;
}

.Headline {
	font-size: $fontSizeLarge;
	margin-bottom: $paddingMedium;
}

.App {
	position: relative;
}

.InlineSearchList {
	position: relative;

	ul {
		@extend .Shadow;
		position: absolute;
		width: 100%;
		z-index: 100;
		max-height: $baseHeight * 10;
		overflow: auto;

		li {
			display: block;
			margin-bottom: 0 !important;
		}
	}

	.InlineSearchListItem {
		@extend .TextSmall;
		@extend .PaddingSmall;
		@extend .ColorSchemeDefault;
		cursor: pointer;
		display: grid;
		grid-gap: $paddingSmall !important;
		grid-template-columns: min-content auto !important;
		text-decoration: none;

		.Preview {
			height: $baseHeight;
			width: $baseHeight;
		}

		.ResourceName {
			line-height: $baseHeight;
		}

		&.Folder {
			.Preview {
				@extend .iconFolder;
				@extend .IconOnly;
				@extend .IconSmall;
			}
		}

		&.Media {
			.Preview {
				@extend .iconFile;
				@extend .IconOnly;
				@extend .IconSmall;
			}
		}

		&.Page {
			.Preview {
				@extend .iconPage;
				@extend .IconOnly;
				@extend .IconSmall;
			}
		}
	}
}

.FileDetails {
	display: grid;
	grid-gap: $paddingLarge;
	grid-template-columns: 1fr 1fr;
}

.NoBreak {
	white-space: nowrap;
}

.left {
	display: inline-block;
	float: left;
	text-align: left;
}

.right {
	display: inline-block;
	text-align: right;
	float: right;
}


.bottom {
	bottom: 0;
	position: absolute !important;
}

.grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.BorderBottom {
	margin-bottom: $paddingMedium;
}

.Box {
	max-width: 80rem;
	margin: auto;
}


.Text {
	font-size: $fontSize;
}

.TextSmall {
	font-size: $fontSizeSmall;
	line-height: $baseHeightSmall;
}

.Transition {
	transition: all 300ms ease;
}

.HoverAnimationButton {
	@extend .Transition;
	//transform: translateY(0);

	&:hover,
	&:active,
	&:focus {
		//transform: translateY(5px);
	}
}

.HoverAnimationList {
	@extend .Transition;
	transform: translateX(0);

	&:hover,
	&:active,
	&:focus {
		transform: translateX(5px);
	}
}

.Logo {
	background-image: url("~@/assets/logo.png");
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	height: $baseHeight * 2;
	margin: $paddingMedium auto;
	width: $baseHeight * 2;
}

.LayoutWithNavigation {
	display: grid;
	grid-template-columns: min-content auto;
	grid-template-areas: "nav main";
	height: 100vh;
}

.LayoutWithToolbar {

	.Toolbar {
		@extend .ColorSchemeToolbar;
		@extend .PaddingSmall;
		backdrop-filter: blur(5px);
		position: sticky;
		top: 0;
		z-index: 500;
	}
}

.EditorContent {
	@extend .PaddingMedium;
}

.Nav {
	grid-area: nav;
	position: relative;
	@extend .PaddingSmall;

	&.Primary {
		@extend .ColorSchemeAlternate;
	}

	.NavButton {
		@extend .Text;
		border-left: solid $borderWidth*2 transparent;
		cursor: pointer;
		display: block;
		line-height: $baseHeight;
		margin-bottom: $paddingSmall;
		padding-right: $baseHeight !important;
		position: relative;
		white-space: nowrap;

		&.active {
			border-left: solid $borderWidth*2 $colorHighlightBackground;
		}

		&:hover {
			background-color: $colorHighlightBackground;
			border-radius: $borderRadius;
		}
	}
}

.Top {
	@extend .PaddingMedium;
	@extend .ColorSchemeToolbar;
	grid-area: top;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: $paddingMedium;
}

.Side {
	@extend .PaddingMedium;
	@extend .ColorSchemeToolbar;
	grid-area: side;
	overflow: hidden;
}

.Main {
	grid-area: main;
	overflow: auto;
}

.Search {
	@extend .PaddingLarge;
}

.toolbar {
	li {
		display: inline-block;

		.Button {
			@extend .ButtonTransparent;
		}
	}
}

.breadcrumb {
	@extend .TextSmall;
	white-space: nowrap;

	li {
		display: inline-block;

		&:after {
			padding-left: $paddingSmall;
			padding-right: $paddingSmall;
			content: "/";
		}

		&:last-child:after {
			display: none;
		}
	}
}

.Label {
	display: inline-block;
	color: inherit;
	font-size: $fontSize;
	line-height: $baseHeightSmall + (2 * $paddingMedium);
	height: $baseHeightSmall + (2 * $paddingMedium);
	vertical-align: top;
}

section {
	margin-bottom: $paddingLarge;
}

.PaddingMedium {
	padding: $paddingMedium;
}

.PaddingLarge {
	padding: $paddingLarge;
}

.PaddingSmall {
	padding: $paddingSmall;
}

.PaddingSmallest {
	padding: $paddingSmallest;
}

.Shadow {
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.Table {
	@extend .Text;
	border-collapse: collapse;
	width: 100%;

	tr {

		th {
			text-align: left;
			cursor: pointer;
			padding-top: $paddingSmall;
			padding-bottom: $paddingSmall;
		}

		td {
			padding-top: $paddingSmall;
			padding-bottom: $paddingSmall;
			border-bottom-style: solid;
			border-bottom-width: $borderWidth;
		}

		&:last-child {
			td {
				border-bottom-style: none;
			}
		}
	}

	&.DenseTable {
		@extend .TextSmall;

		th {
			padding-bottom: 0;
			padding-top: 0;
		}

		td {
			padding-bottom: 0;
			padding-top: 0;
		}
	}

	&.SelectableTable {
		tr:hover {
			cursor: pointer;
			@extend .ColorSchemeAlternate;
		}
	}
}

.loader {
	@extend .Transition;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	text-align: center;
	backdrop-filter: blur(3px);
}

.hidden {
	display: none;
}

.CreateMediaForm {

	.filePreview {
		font-size: $fontSizeSmall;
		margin-bottom: $paddingSmall;
		display: grid;
		grid-gap: $paddingSmall;
		max-height: 50vh;
		overflow: auto;

		li {
			display: grid;
			grid-template-columns: min-content auto min-content;
			grid-gap: $paddingMedium;
			grid-row-gap: $paddingSmall;
			margin: 0;

			.dummy {
				@extend .IconOnly;
				@extend .iconUpload;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.center {
	text-align: center;
}

.Progress {
	@extend .ColorSchemeDefault;
	padding: 0.3rem;

	.ProgressValueWrapper {
		position: relative;
		width: 100%;
		height: $baseHeight / 2;

		.ProgressValue {
			@extend .Transition;
			position: absolute;
			left: 0;
			height: 100%;
			background-color: $colorPrimaryBackground;
		}
	}
}

.Widget {
	position: relative;
	@extend .ColorSchemeToolbar;
	@extend .PaddingLarge;
	@extend .Shadow;
	@extend .BoxStyle;

	h2 {
		@extend .Headline;
		border-bottom-style: solid;
		border-bottom-width: $borderWidth;
		padding-bottom: $paddingSmall;
	}
}

.Grid {
	display: grid;
	grid-gap: $paddingMedium;
}

.Grid1-1 {
	display: grid;
	grid-gap: $paddingMedium;
	grid-template-columns: 1fr 1fr;
}

.Dashboard {
	display: grid;
	grid-gap: $paddingMedium;
	grid-template-columns: 2fr 1fr;
}


.List {
	li {
		padding-top: $paddingSmall;
		padding-bottom: $paddingSmall;
		@extend .Text;
	}
}

.Center {
	text-align: center;
}

.AspectRatio {
	width: 100%;
	height: auto;

	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

.PictureBox {
	@extend .ColorSchemeInput;
	@extend .Shadow;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: $baseHeight * 5;
	@extend .AspectRatio;

	&.PictureBoxSmall {
		height: $baseHeight;
		width: $baseHeight;
	}

	&.PictureBoxFlex {
		@extend .AspectRatio;
	}
}

.BoxStyle {
	border-radius: $borderRadius;
}

.Code {
	font-family: monospace;
}

.LogEntry {
	display: grid;
	grid-template-columns: 20% 80%;
	padding-left: $baseHeightSmall;
	position: relative;

	&:before {
		background-color: $colorSuccess;
		border-radius: 50%;
		bottom: 0;
		content: "";
		display: block;
		height: 1rem;
		left: $paddingSmall;
		margin: auto;
		position: absolute;
		top: 0;
		width: 1rem;
	}

	&.hasError {
		&:before {
			background-color: $colorError;
		}
	}
}


.Accordion {

	.AccordionHead {
		@extend .BoxStyle;
		@extend .ColorSchemeTransparentWithHover;
		@extend .TextSmall;
		@extend .PaddingSmallest;
		cursor: pointer;
		margin-bottom: $paddingSmallest;
	}

	.AccordionBody {
		display: none;
		margin-bottom: $paddingSmallest;
	}

	&.open {
		.AccordionBody {
			display: block;
		}
	}
}


.Avatar {
	@extend .ColorSchemeAlternate;
	background-image: url("~@/assets/icon_user.svg");
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	height: $baseHeight * 2;
	width: $baseHeight * 2;

}